.item {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-secondary-border);
  align-items: center;
  height: 71px;
}

.photo {
  width: 95px;
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
}

.headers-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
}

.header h4 {
  font-weight: 550;
  color: var(--color-prim-nav);
}

.headers-content h4 {
  width: 14%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header h4:first-child {
  width: 95px;
}

.headers-content h4:first-child {
  width: 21%;
}

.headers-content h4:last-child {
  flex: 1;
}

.headers-content h4 .sort-icon {
  margin-left: 24px;
  display: none;
}

.headers-content h4:hover .sort-icon,
.headers-content h4 .sort-icon.active {
  display: block;
}

.thumbnail {
  margin: 0 10px;
  position: relative;
}

.thumbnail > img,
.thumbnail > video {
  width: 50px;
  height: 50px;
  height: auto;
  border: 1px solid var(--color-secondary-border);
}

.name {
  width: 21%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.5rem;
  font-weight: 600;
  position: relative;
  text-overflow: ellipsis;
}

.field_name {
  width: 14%;
  font-size: 13px;
  position: relative;
  align-content: flex-start;
  white-space: nowrap;
}

.status {
  width: 14%;
}

.select-icon {
  width: 25px;
  height: auto;
}

.info>div:last-child{
  margin-left: 2rem;
}

.span {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .dateHide {
    width: 90px !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .item {
    min-height: 71px;
    height: auto;
  }

  .headers-content h4:first-child {
    width: 150px;
  }

  .headers-content h4 {
    width: 100px;
  }
  .info {
    flex-wrap: wrap;
  }

  .info > *{
    margin-bottom: 10px;
  }

  .info>div:last-child{
  margin-left: 0;
  position: absolute;
  right: 0;
  }

  .name {
    width: 150px;
  }

  .field_name,
  .status {
    width: 100px;
  }
}

@media (min-width: 600px) and (max-width: 750px) {

  .header {
    display: none;
  }

  .field_name {
    width: 11%;
  }

}
@media screen and (max-width: 600px) {
  .item{
    position: relative;
  }

  .header {
    display: none;
  }

  .info {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
  }

  .info>div:last-child{
    top: 44%;
    margin-right: 20px;
  }
  
  .name{
    width: 185px;
    position: absolute;
    left: 34px;
    top: 8px;
  }

  .field_name{
    padding-left: 25px;
    width: 115px !important;
  }
}
