.container {
  display: block;
  justify-content: center;
  position: relative;
  min-height: 60vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
  width: 70%;
}

.header h3 {
  margin: 0;
  font-weight: 600;
}

.header p {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
  margin-bottom: 36px;
}

.header_actions .select {
  width: 160px;
}

.filter {
  width: 80%;
}

.list-wrapper{
  width: 100%;
  max-width: 1800px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.grid-list-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.grid-list.medium{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.button-wrapper{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
