.col-wrapper {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  
}


.header__content {
  font-size: 12px;
  margin-left: 20px;
  font-weight: 300;
  max-width: 551px;
}

/* TODO: define styles */
.subHeader {
  display: flex;
  align-items: center;
}


/* TODO: fix styles */
.sort-wrapper {
  z-index: 1000;
  width: 162px;

}

.infowrapper{
  display: flex;
  align-items: center;
  padding:0 60px 30px 60px;
  
}
.newbtn{
  margin-right: 10px;
}
.select-only-shown-items-text{
  font-weight: 300;
  font-size: 12px;
  color:#08135E;
  margin-right: 20px;
  cursor:pointer;

}
@media screen and (max-width: 1200px) {
  .header__content{
    margin-left: 0px;
  }
  
}
