.outer-wrapper {
  margin-top: 24px;
  overflow: auto;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  box-sizing: border-box;
  gap: 32px;
  max-height: 407px;
  overflow: auto;
  scrollbar-width: thin;
  padding-right: 10px;
}
.tags-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tags-left-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.outer-wrapper::-webkit-scrollbar {
  width: 3px;
}

.outer-wrapper::-webkit-scrollbar-thumb {
  background-color: #aeb0c2;
  border-radius: 50px;
}
.outer-wrapper::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 50px;
}
.heading-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .outer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .outer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: 400px) {
    .outer-wrapper {
      gap: 0px;
      margin-top: -1px;
    }
  }
}
