.select-wrapper{
  width: 75px;
}

.name {
  width: 25%;
  position: relative;
  cursor: pointer;
}

.name:hover {
  opacity: 0.5;
}

.type {
  width: 10%;
  text-transform: uppercase;
}

.upload-error {
  width: 40%;
  position: relative;
  color: var(--color-prim-red);
}

.search-item {
  cursor: default;
  padding: 12px 0;
  border: 0;
  font-weight: normal;
  font-size: 12px;
}

.search-item .select-icon {
  width: 25px;
  height: auto;
  margin-right: 25px;
}

.hidden{
  visibility: hidden;
}

.no-error{
  color: var(--color-prim-turquoise)
}
