
  /* new changes  */
  .sub-collection-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:5px;
  }
  /* .sticky {
    position: fixed;
    top: 151px;
    width: 100%;
  } */
  .sub-collection-heading span {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-right: 11px;
    color: #817d9d;
  }
  /* //subcollection card */
  .subcollectionCard {
    max-width: 282px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    border: 1px solid #dedad4;
    padding: 12px;
    position: relative;
  }
  .subcollectionCard:hover {
    animation: halfopacity 0.5s;
    opacity: 0.5;
  }
  .subcollectionCard:hover .image-button-wrapper {
    display: block;
  }
  .imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .image img {
    width: 100%;
  }
  .cardFooter {
    max-width: 282px;
    padding: 12px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #dedad4;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cardFooter span {
    display: block;
  }
  .heading {
    font-family: "Noto Sans";
    font-weight: 500;
    font-size: 14px;
  }
  .totalCount {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 12px;
    color: #aeb0c2;
  }
  .image-button-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #dedad4;
  }
  .checkIcon {
    font-size: 24px;
    color: white;
    display: none;
    border: 1px solid #dedad4;
  }
  
  .checked {
    background-color: #dedad4;
  }
  
  .checked .checkIcon {
    display: inline;
  }
  .TagsInfo {
    display: flex;
    align-items: center;
  }
  .tagOuter {
    display: flex;
    flex-wrap: wrap;
  }
  .TagsInfo span {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 11px;
  }
  .rightSide {
    display: flex;
    align-items: center;
  }
  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
    grid-gap: 40px;
    margin-bottom: 40px;
    }
  .assetWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
    grid-gap: 40px;
    /* margin-top: 40px; */
    margin-top:20px;
  }
  .LoadMorebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
  }
  .ExpandIcons {
    width: 18px;
    cursor: pointer;
  }
  .rightIcon {
    transform: rotate(0deg);
    cursor: pointer;
  }
  .iconClick {
    transform: rotate(180deg);
    margin-right: 5px;
    cursor: pointer;
  }
  .heading-wrapper{
    margin:-20px 0px 8px 0
  }
  .sub-collection-heading-outer{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
  
  }
  
  @media screen and (max-width: 810px) {
    .cardsWrapper {
      margin-top: 100px;
      padding: 0 20px;
    }
  }
  @media screen and (min-width: 811px) and (max-width: 1280px) {
    .cardsWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(187px, 1fr)) !important;
    }
  }
  @media (max-width:600px){
    .heading-wrapper{
      margin:20px;
    }
    .assetWrapper {
      margin-top: 40px !important;
    }
    .shareWrapper{
      margin-top: 0;
    }
  
  }
  @media screen and (max-width: 475px) {
    .cardsWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
      padding: 0 20px;
      margin-bottom: 5px;
    }
   
  }
  @media (max-width: 420px) {
    .sub-collection-heading {
      flex-wrap: wrap;
      align-items: center;
      padding: 10px 20px;
    }
    .TagsInfo {
      margin-top: 10px;
      align-items: flex-start;
    }
    .cardsWrapper {
      padding: 0 20px;
    }
    .assetWrapper {
      padding: 20px 20px;
      grid-gap: 10px;
      margin-top: 100px;
    }
    
  }
  
  @media (min-width: 420px) and (max-width: 800px) {
    .assetWrapper {
      padding: 0 20px;
      margin-top: 100px;
    }
  }
  
  /* list view css starts from here */
  .list-wrapper {
    grid-template-columns: unset;
    grid-gap:20px;
  }
  
  .list-asset-wrapper {
    grid-template-columns: unset;
  }
  
  @media only screen and (min-width: 270px) and (max-width: 375px) {
   /* .rightSide{
    margin-top: 140px;
   } */
   .cardsWrapper {
    margin-top:0px;
    
  }
  .share-page-right-side{
    margin-top: 0px;
  }
  }
  @media only screen and (min-width: 390px) and (max-width: 540px) {
    .rightSide{
     margin-top: 140px;
     margin-left: 10px;
     flex-wrap: wrap;
    }
    .share-page-right-side{
      margin-top: 22px;
    }
    .cardsWrapper {
     margin-top:0px;
     
   }
   .sub-collection-heading{
    flex-direction: column;
    align-items: flex-start;
   }
   }
   
   @media only screen and (min-width: 600px) and (max-width: 805px) {
    .rightSide{
     margin-top: 125px;
     margin-left: 22px;
    }
    .cardsWrapper {
     margin-top:0px;
     }
   }
   
   .grid-item-new{
    border:1px solid var(--color-secondary-border);
  }
  .collectionAssets{
    margin-top: 30px;
  }
  @media (min-width:800px) and (max-width:1080px){
    .collectionAssets{
      margin-top: 80px;
    }
    
  
  }
  @media (min-width:1100px) and (max-width:1420px){
    .collectionAssets{
      margin-top: 50px;
    }
    
  
  }
  .rightSides{
    display: flex;
    align-items: center;
  }
  .shareWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
    grid-gap: 40px;
    margin-top:20px;

  }