.username {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #08135e;
}

.useremail {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #08135e;
}

.content {
  display: flex;
  flex-direction: column;
}

.username {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #08135e;
}

.useremail {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #08135e;
}

.logbtn {
  text-align: center;
}

.tabledata td {
  padding: 12px 8px;
}

.tabledata:nth-child(odd) {
  background-color: #faf8f5;
}

.active {
  background: #faf8f5;
}

.active-badge {
  padding: 3.5px 4.5px;
  background-color:
    #0083CD;
  color: white;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
}

.expired-badge {
  padding: 3.5px 9.5px;
  background-color:
    #FA373D;
  color: white;
  border-radius: 4px;
  height:24px ;
  font-size: 12px;
  font-weight: 400;
}
