
.username{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:
    #08135E;

}
.useremail{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:
    #08135E;
}
.content{
    display: flex;
    flex-direction: column;
}
.username{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:
    #08135E;

}
.useremail{
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:
    #08135E;
}
.logbtn{
    text-align: center;
}
.tabledata td{
    padding:12px 8px;
}
.tabledata:nth-child(odd){
    background-color: #FAF8F5;
}
.active{
    background:#FAF8F5;
}
