.button-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 34px;
    /* max-width: 250px; */
    padding: 0 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
}

.button-wrapper .approval-text{
    color: white;
    background-color: #10BDA5;
    padding: 11px 14px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.button-wrapper:empty{
    padding: 0 8px;
}
.options-list {
    position: absolute;
    top: 40px;
    z-index: 1900;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-border);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    overflow: hidden;
}

.options-list li:first-child span,
.options-list li:nth-child(3) span {
    border-bottom: 1px solid var(--color-secondary-border);
}

/* .options-list.regular {
    bottom: 1rem;
} */

.options-list.dropdown {
    right: 0;
}

.option {
    width: 202px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 15px;
}

.option:hover {
    background-color: var(--color-sec-lightblue);
}

.option-label {
    font-weight: 500;
    font-size: 13px;
}

.option-text {
    color: var(--color-sec-blue);
}

.option .icon {
    width: 15px;
    height: auto;
}

.back {
    margin-right: 0.3rem;
    color: var(--color-sec-ivory);
    font-size: 25px;
    font-family: monospace;
    cursor: pointer;
}

.additional-folder-wrapper {
    position: relative;
    z-index: 9;
}

.additional-folder-wrapper h4 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.options-list.dropdown {
    right: 0;
    flex-wrap: nowrap;
}


@media screen and (max-width: 600px) {

    .options-list.dropdown {
        top: inherit;
        left: 50%;
        transform: translate(-50%);
        bottom: 58px;
        width: 195px;
    }
}

@media screen and (max-width: 380px) {
    .options-list.dropdown {
        width: 160px
    }
}
