.container {
    padding: 0 20px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h3 {
    font-size: 14px;
}

.radios {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 12px 0;
    gap: 32px;
}

.divider {
    border: 1px solid var(--color-secondary-border);
    margin-top: 34px;
}

.radio-wrapper {
    display: flex;
    align-items: flex-start;
}
.radio-wrapper img{
    width: 15px;
}
.radio-wrapper div{
    max-width: 150px;
}
@media screen and (max-width: 1200px) {
    .container {
        min-width: 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .divider {
        display: none;
    }
}