.asset {
    transition: opacity 0.5s ease;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.asset__crop {
    transition: opacity 0.5s ease;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.opaque {
    opacity: 0.2;
}

.react-crop {
    height: 100%;
    flex-shrink: 0;
}

.maxHeight {
    height: inherit;
    max-height: 100%;
   ;
}

.filter_open {
    height: 270px;
    max-height: 270px;
}