.asset-actions-wrapper {
    position: relative;
    /* display: flex; */
    align-items: center;
    gap:10px;
    position: absolute;
    right: 0;
    bottom: 9px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .more ul {
    right: 0;
    bottom: 30px;
    top: inherit;
  }

  img.thumbnailDots {
    width: 16px !important;
  }
  .list-actions-wrapper{
    position: relative;
  }
  
  /* for list view  */
  
  .edit-icon{
    width: 15px;
  }