.asset {
    /* animation: assetintoview 0.5s; */
    transition: opacity 0.5s ease;
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    /* max-height: 330px; */
}

.asset__crop{
    aspect-ratio: none;
}

.opaque {
    opacity: 0.2;
}

.react-crop {
    height: 100%;
    flex-shrink: 0;
}

.react-crop>div {
    height: 100%;
}

.maxHeight {
    height: inherit;
    max-height: 100%;
}

.filter_open {
    height: 270px;
    max-height: 270px;
}
