.asset-grid_list-wrapper ::selection{
  background-color:indigo !important;
  color:#fff !important;
  }

.container {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 60vh;
}
.filter {
  width: 80%;
}

.list-wrapper{
  width: 100%;
  max-width: 1800px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(215px, 1fr));
  grid-gap: 2rem;
}

.grid-list-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 2rem;
}

.grid-list.medium{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.button-wrapper{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1581px) {
  .grid-100{
    grid-template-columns: repeat(5, minmax(215px, 1fr)) !important;
  }
  .grid-75{
    grid-template-columns: repeat(6, minmax(215px, 1fr)) !important;
  }
  .grid-50{
    grid-template-columns: repeat(9, minmax(156px, 1fr)) !important;
  }
  
  .grid-filter-100{
    grid-template-columns: repeat(4, minmax(215px, 1fr)) !important;
  }
  .grid-filter-75{
    grid-template-columns: repeat(5, minmax(215px, 1fr)) !important;
  }
  .grid-filter-50{
    grid-template-columns: repeat(7, minmax(156px, 1fr)) !important;
  }
}

@media screen and (max-width: 1580px) {
  /* .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 1.25rem;
  } */
  .grid-100{
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)) !important;
  }
  .grid-75{
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)) !important;
  }
  .grid-50{
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr)) !important;
  }
  
  .grid-filter-100{
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)) !important;
  }
  .grid-filter-75{
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr)) !important;
  }
  .grid-filter-50{
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr)) !important;
  }
}


/* @media screen and (max-width: 1200px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 1.25rem;
  }
} */

