.wrapper {
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper video {
    max-width: 200px;
}

.bulk-size video{
    width: 120px;
    height: 120px;
}
