.additional-folder-wrapper {
  margin-right: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 100%;
  cursor: pointer;
}

.additional-folder-wrapper  h4 {
  margin: 0;
}

.asset-subheader{
  justify-content: flex-end;
}

.asset-subheader button {
  margin-left: 0.5rem;
}

.padding {
  flex: 1;
}

.back {
  color: var(--color-sec-blue);
  font-size: 25px;
  font-family: monospace;
}
