.container {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 60vh;
}
.filter {
  width: 80%;
}

.list-wrapper{
  width: 100%;
  max-width: 1800px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-gap: 2rem;
}

.grid-list-small {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 2rem;
}

.grid-list.medium{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.button-wrapper{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 1.25rem;
  }
}
