.container {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 60vh;
  margin-top: 30px;
}

.filter {
  width: 100%;
  order: 2;
}

@media screen and (max-width: 1023px) {
  .filter {
    width: 100% !important;
  }
}

.list-wrapper {
  width: 100%;
}

.regularlist{
  padding: 0;
}
.list-wrapper .regularlist li:first-child > div ul,.list-wrapper .regularlist li:nth-child(2) > div ul{

  bottom: inherit;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
  grid-gap: 40px;
}

@media screen and (min-width: 410px) and (max-width: 809px) {
  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(181px, 1fr));
  }
}

@media screen and (min-width: 811px) and (max-width: 1280px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(187px, 1fr)) !important;
  }
}

@media screen and (min-width: 410px) and (max-width: 810px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
  
  }
}
@media screen and (max-width: 810px){
  .grid-list{
    margin-top: 145px;
  }
}


.button-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}