.container {
  border: 1px solid var(--color-secondary-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
}

.image-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper,
.image-wrapper img {
  aspect-ratio: 1 / 1;
  padding: 5px;
}

.image-button-wrapper,
.uploading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  z-index: 2;
}

.image-button-wrapper {
  display: none;
}

.selectable-wrapper {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: none;
  z-index: 1498;
}

.selectable-wrapper.selected-wrapper {
  display: block;
}

.image-wrapper .selectable-wrapper .select-icon {
  width: 25px;
  height: auto;
  padding: 0;
}

.image-wrapper>img,
.image-wrapper>.video-wrapper {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.image-wrapper:hover>img,
.image-wrapper:hover>.video-wrapper {
  animation: halfopacity 0.5s;
  opacity: 0.5;
}

.image-wrapper:hover .image-button-wrapper,
.image-wrapper:hover .selectable-wrapper:not(.selected-wrapper) {
  display: block;
  animation: intoview 0.5s;
}

.wrap-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  font-weight: 500;
}

@keyframes halfopacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes intoview {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.info {
  padding: 12px 10px;
  border-top: 1px solid var(--color-secondary-border);
}

.details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 0;
}

.details-wrapper>div:first-child {
  flex: 1;
}

.hover-video-player-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.video-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  padding: 5px;
}

.loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  scale: 1.04;
  padding: 10px !important;
}

.folderItemHeadingOuter {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.folderItemHeading {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}