.wrapper {
    margin-top: 24px;
    font-size: 12px;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    /* justify-content: center; */
    gap: 29px;
    padding: 17px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.actions span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actions span img {
    margin-right: 12px;
    width: 14px;
}

.file {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    word-break: break-all;
    padding: 0 24px;
}

.input {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

@media screen and (max-width: 500px) {
    .actions {
        grid-auto-flow: row;
        gap: 8px;
    }
}

.cancelItem {
    width: 20px;
    height: 19px;
    margin-right: 5px;
}

@media screen and (max-width: 410px) {
    .actions {
        justify-content: flex-start;
        border-bottom: 1px solid var(--color-secondary-border);
        gap: 15px;
        padding: 17px 40px;
    }   
    .file {
        padding: 0 16px;
    }
}