.action-button{
  width: 1.2rem;
  margin-left: 1.2rem;
}

.action-button:last-of-type{
  margin-right: 1.2rem;
}

.action-button:hover{
  opacity: 0.5;
}

.select-only-shown-items-text{
  cursor: pointer;
  margin-left: 15px;
  padding: 5px;
  font-size: 9px;
}

.select-only-shown-items-text:hover{
  text-decoration: underline;
}
