.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.5rem;
  }
  .container.bulk-size {
    margin: 0;
  }
  .container.collection {
    margin: 0;
  }
  .icon {
    width: 100%;
    object-fit: scale-down;
  }
  .container .icon {
    width: 10rem;
  }

  .noMargin {
    margin: 0;
  }
  
  .small{
    margin: .6rem;
  }
  
  .small .icon{
    width: 30px;
  }
  
  .bulk-size .icon{
    width: 4rem;
  }

  .collection .icon {
    width: 100%;
  }
  .padding {
    padding: 30%;
  }