.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container.bulk-size {
  margin: 0;
}

.container.collection {
  margin: 0;
}

.icon {
  object-fit: scale-down;
  width: 10rem !important;
  max-width: 100%;
}

.noMargin {
  margin: 0;
}


.small .icon {
  width: 30px;
}

.bulk-size .icon {
  width: 4rem;
}

.collection .icon {
  width: 100%;
}

.maxHeight {
  max-height: 100%;
}

.filter_open {
  height: 270px;
  max-height: 270px;
}
.userEvents{
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.analytics-icon{
  max-width: 28px;
  height:100%;
}