.container {
  padding: 0 20px 60px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block:first-child {
  margin-bottom: 45px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.input {
  cursor: text;
  text-align: center;
}

.blockInput {
  width: 100%;
  padding: 19px 8px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  overflow-wrap: break-word;
  color: #aeb0C2 !important;
  background: #faf8f5 !important;
  text-align: left;
}

.input, .select {
  background: none;
  color: rgb(199, 199, 199);
} 

.description {
  color: var(--color-sec-text);
  font-size: 14px;
}

.mb {
  margin-bottom: 12px;
}

.ratioInput, .btn, .controlTitle, .blockInput_active {
  color: var(--color-prim-navy);
}

.btn {
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-end;
  font-weight: 400;
}

.controlTitle {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

span.select {
  display: none;
}
.cdnType {
  width: calc(50% - 35px);
}

.selectContainer {
  margin-bottom: 25px;
  width: 100%;
}

.lock {
  cursor: pointer;
  padding-top: 45px;
  margin: 0 25px;
}

.lock img {
  width: 20px;
}

.aspectRatioContainer {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
}

.cdnType .selectContainer >div{
  max-height: inherit;
}

.cdnType .select{
  color: var(--color-prim-navy);
}