.container {
  padding: 0 20px;
}

.field {
  margin-bottom: 0.2rem;
}

.field-wrapper {
  margin-top: 1.5rem;
}

.field-wrapper .resize-option {
  font-weight: bold;
  margin-left: 15px;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}

.field-wrapper .resize-option.selected {
  background: #ccc;
  width: 28px;
  height: 24px;

}

.meta-text {
  font-size: 12px;
}

.first-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.container .field-wrapper .tags-list {
  margin-top: 0.7rem;
}

.select-add {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
}

.select-add img {
  margin-right: 5px;
}

.collection-container .label {
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 8px;
}

.remove {
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.5rem;
  color: var(--color-sec-text);
}

.remove:hover {
  color: var(--color-prim-turquoise);
}

.field-radio-wrapper {
  display: flex;
}

.selectable-wrapper {
  display: flex;
  align-items: center;
}

.field-radio-wrapper img,
.selectable-wrapper img {
  width: 15px;
}

.field-radio-wrapper div {
  margin-left: 8px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
}

.select-item {
  width: 33%;
  display: grid;
  grid-template-columns: 25px auto 15%;
  margin-top: 10px;
  align-items: center;
}

.select-item p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-item p {
  margin: 0;
}

.title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.input-label {
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.save-changes {
  width: 100%;
  margin-top: 32px;
  border-top: 1px solid var(--color-border);
  padding-top: 40px;
}

.save-changes button {
  margin: 5px;
}

.item-name {
  font-size: 12px;
}

.radio-button-wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {

  .item-list .tags-container:nth-last-child(-n + 5) {
    display: none;
  }

  .select-item p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    min-width: 25rem;
  }

  .first-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .field-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .hide-on-mobile {
    display: none;
  }

  .save-changes {
    padding-bottom: 100px;
  }
}