.container {
  display: grid;
  grid-template-areas: "content-asset side asset-menu";
  grid-template-columns: 1fr 26.5rem 100px;
  z-index: 20001;
  padding-top: 80px;
}

.side, .menu {
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.react-draggable{
  border: none!important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #100d0f!important;
  position: relative!important;
  transform: none!important;
  overflow: hidden;
}
.react-draggable img{
  height: 100%;
  width: auto;
  border: 2px dotted #100d0f !important;
}

@media screen and (max-height: 760px) {
  .container {
    overflow-y: auto;
  }
  .side, .menu {
    height: 100%;
    padding-top: 15px;
    padding-bottom: 60px;
  }
}

.top-wrapper {
  background-color: var(--color-prim-navy);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
  right: 0;
  left: 0;
  top: 0;
  padding: 24px 16px;
  height: 80px;
}

.share .top-wrapper {
  justify-content: flex-start;
}

.top-wrapper .back-name {
  display: flex;
  align-items: center;
  gap: 74px;
  color: white;
}

.top-wrapper .name {
  display: flex;
  align-items: center;
  justify-self: center;
}

.top-wrapper .name h3 {
  margin: 0;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.back {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  width: fit-content;
}

.back img {
  margin-right: 0.5rem;
}

.content {
  grid-area: content-asset;
  padding-right: 25px;
  padding-left: 25px;
  overflow: auto;
}

.side {
  grid-area: side;
  border-left: 1px solid var(--color-secondary-border);
  border-right: 1px solid var(--color-secondary-border);
  overflow-y: auto;
}

.menu {
  grid-area: asset-menu;
}

.img-wrapper {
  height: 100%;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.img-wrapper > img, .img-wrapper video {
  width: 100%;
  max-height: 100%;
  /* object-fit: scale-down; */

}

.asset-actions {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.asset-actions button {
  margin-left: 0.5rem;
}

.asset-actions ul {
  top: 60px;
  right: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-sec-lightivory);
  padding: 16px 32px;
  width: 100px;
}

.menu-icon{
  width: 20px;
  height: auto;
  margin-bottom: 20px;
}

.add-version-icon {
  width: 20px;
  height: 20px;
  margin-right: 26px;
}

.add-version-override button{
  background: transparent;
  border: 1px solid var(--color-prim-turquoise);
  height: 17px;
  width: 17px;
  color: var(--color-prim-turquoise);
  font-size: 15px;
}

.add-version-override button:hover{
  background-color: transparent;
}

.versions-related-wrapper {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-sec-blue);
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.versions-number {
  cursor: pointer;
  text-decoration: underline;
}

.related-number {
  cursor: pointer;
  text-decoration: underline;
}

.separator {
  margin-bottom: 20px;
  height: 1px;
  width: 70%;
  border-bottom: 1px solid var(--color-sec-blue);
}

.expand{
  display: none;
}

.arrows {
  align-self: center;
  margin-top: 16px;
  color: var(--color-sec-blue);
  padding-bottom: 60px;
}

.arrows > div {
  text-align: center;
}

.arrow-prev {
  margin: 16px 10px;
  display: inline-block;
}

.arrow-next {
  margin: 16px 10px;
  display: inline-block;
}

.notes-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.side {
  grid-area: unset;
  position: absolute;
  background-color: white;
  right: 100px;
  border-top: 1px solid var(--color-secondary-border);
  border-bottom: 1px solid var(--color-secondary-border);
  min-height: 50vh;
  top: 80px;
  bottom: 0;
  width: 421px;
}

.share .side {
  right: 0;
  width: 266px;
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
  }
  .menu {
    right: 0;
    position: absolute;
  }



  .expand{
    display: block;
  }
}

@media screen and (min-width: 601px) {
  .only-mobile-button{
    display: none;
  }

  .img-wrapper {
    height: calc(100vh - 90px);
  }

}

@media screen and (max-width: 600px) {

  .container {
    flex-direction: column;
    padding-top: 47px;
  }

  .side {
    position: initial;
    width: 100%;
    border-top: none;
  }

  .share .side {
    width: 100%;
  }

  .hide-on-mobile{
    display: none;
  }

  .back span {
    display: none;
  }

  .only-desktop-button {
    display: none;
  }

  .asset-actions {
    gap: 12px
  }
  .asset-actions ul {
    top: 40px;
  }
  
  .menu {
    position: fixed;
    background-color: var(--color-prim-navy);
    height: 40px;
    min-height: 36px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  

  .menu-icon {
    margin-bottom: 0;
    width: 18px;
  }

  .top-wrapper {
    height: 47px;
  }

  .content {
    overflow: inherit;
  }

  .expand {
    display: none;
  }

  .top-wrapper .name h3 {
    max-width: 200px;
  }
}

@media screen and (max-width: 810px) {

  .top-wrapper .name,
  .asset-actions {
    justify-self: flex-start;
  }

  .versions-related-wrapper {
    display: none;
  }
}
