.container {
  padding: 0 20px;
}

.field {
  margin-bottom: 0.2rem;
}

.field-wrapper {
  margin-top: 1.5rem;
}
.first-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*.first-section .field-wrapper:first-child {*/
/*  grid-column-start: 1;*/
/*  grid-column-end: 3;*/
/*}*/

.container .field-wrapper .tags-list {
  margin-top: 0.7rem;
}

.select-add {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
}

.select-add img {
  margin-right: 5px;
}

.collection-container .label {
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 8px;
}

.remove {
  cursor: pointer;
  font-weight: 600;
  margin-left: 0.5rem;
  color: var(--color-sec-text);
}
.remove:hover {
  color: var(--color-prim-turquoise);
}

@media screen and (max-width: 1200px) {
  .container {
    min-width: 25rem;
  }
}

@media screen and (max-width: 576px) {
  .field-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
