.sku-container .label {
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 8px;
}

.multi-list .multi-item:first-child{
    margin-left: 0;
}

.multi-item div span{
    font-weight: normal;
}

.remove {
    cursor: pointer;
    font-weight: 600;
    margin-left: 0.5rem;
    color: var(--color-sec-text);
}
.remove:hover {
    color: var(--color-prim-turquoise);
}
.select-add {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    margin-bottom: 0.5rem;
}
.select-add img {
    margin-right: 5px;
}

.field-container {
    margin-top: 1.5rem;
}
.field-item-container {
    margin: 0.5rem 0 0.5rem 8px;
    display: grid;
    grid-template-columns: 30% 1fr;
}
.field-item-container div {
    font-weight: 300;
}
.field-item-container div:first-child {
    font-weight: 600;
}
