.item {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  height: 71px;
}

.item:hover {
  background-color: var(--color-sec-lightivory);
}

.photo {
  width: 35px;
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
}

.headers-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.header h4 {
  font-weight: 400;
  color: var(--color-sec-text);
  margin: 10px 0;
}

.headers-content h4 {
  width: 12%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
}

.header h4:first-child {
  width: 35px;
}

.headers-content h4:first-child {
  width: 48%;
  justify-content: flex-start;
}

/*.headers-content h4:last-child {*/
/*  flex: 1;*/
/*}*/

.headers-content h4 .sort-icon {
  margin-left: 24px;
  display: none;
}

.headers-content h4:hover .sort-icon,
.headers-content h4 .sort-icon.active {
  display: block;
}

.thumbnail {
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  max-height: 50px;
}

.thumbnail > img,
.thumbnail > video {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.name {
  width: 24%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.5rem;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}

.name img{
  max-width: 48px;
  margin: 0 10px;
}

.name:hover {
  opacity: 0.6;
}

.field_name {
  width: 48%;
  font-size: 13px;
  position: relative;
  margin-bottom: 0;
}

.field_author {
  width: 12%;
  font-size: 12px;
  color: var(--color-sec-text);
  text-align: center;
  font-weight: 400;
}

.field_name img {
  max-width: 48px;
  position: relative;
  max-height: 48px;
  overflow: hidden;
  margin-right: 10px;
  padding: 0px;
  border: none;
}

.field_time {
  width: 12%;
  font-size: 12px;
  position: relative;
  color: var(--color-sec-text);
  text-align: center;
}

.field_status {
  width: 12%;
  text-align: center;
}

.field_actions {
  font-size: 12px;
  color: var(--color-sec-text);
  width: 12%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.select-icon {
  width: 25px;
  height: auto;
}

.thumbnail{
  max-width: 48px;
}

.field_mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .item {
    min-height: 71px;
    height: auto;
  }

  .info {
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .name {
    width: 200px;
  }

  .field_name {
    width: 36%;
  }
  .field_time {
    width: 15%;
  }
  .field_status {
    width: 15%;
  }
  .field_actions {
    width: 19%;
  }

  .field_author {
    width: 15%;
  }

  .headers-content h4 {
    width: 15%;
  }

  .headers-content h4:first-child {
    width: 36%;
  }
}

.draft-tag{
  background: var(--color-sec-lightyellow);
  color: var(--color-sec-text);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  width: 100px;
}


.pending-tag{
  background: var(--color-sec-lightyellow);
  color: var(--color-sec-text);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.complete-tag{
  background: var(--color-prim-turquoise);
  color: white;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

.reject-tag{
  background: #FEC9CB;
  color: var(--color-sec-text);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  width: 100px;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 600px)  {
  .thumbnail {
    display: none;
  }

  .field_name img {
    display: none;
  }

  .headers-content h4:not(:first-child) {
    display: none;
  }

  .field_name {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
  }

  .field_actions {
    width: 30%;
    gap: 16px;
  }

  .field_time {
   display: none;
  }
  .field_status {
   display: none;
  }

  .field_author {
    display: none;
  }

  .field_mobile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
  }

  .field_time_mobile {
    font-size: 11px;
    color: var(--color-sec-text);
  }

  .field_author_mobile {
    font-size: 11px;
    color: var(--color-sec-text);
    font-weight: 400;
  }

  .draft-tag{
    background: none;
    color: #FFC569;
    border-radius: 0;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    width: max-content;
    display: inline-block;
  }
  
  
  .pending-tag{
    background: none;
    color: #FFC569;
    border-radius: 0;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    width: max-content;
    display: inline-block;
  }
  
  .complete-tag{
    background: none;
    color: var(--color-prim-turquoise);
    border-radius: 0;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    width: max-content;
    display: inline-block;
  }
  
  .reject-tag{
    background: none;
    color: var(--color-prim-red);
    border-radius: 0;
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
    width: max-content;
    display: inline-block;
  }
}