.item {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-secondary-border);
  align-items: center;
  height: 71px;
}

.photo {
  width: 35px;
  display: flex;
  align-items: center;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
}

.headers-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
}

.header h4 {
  font-weight: 550;
  color: var(--color-prim-nav);
}

.headers-content h4 {
  width: 24%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header h4:first-child {
  width: 35px;
}

.headers-content h4:first-child {
  width: 24%;
}

/*.headers-content h4:last-child {*/
/*  flex: 1;*/
/*}*/

.headers-content h4 .sort-icon {
  margin-left: 24px;
  display: none;
}

.headers-content h4:hover .sort-icon,
.headers-content h4 .sort-icon.active {
  display: block;
}

.thumbnail {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
  max-height: 50px;
}

.thumbnail > img,
.thumbnail > video {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.name {
  width: 24%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.5rem;
  cursor: pointer;
  position: relative;
}

.name img{
  max-width: 48px;
}

.name:hover {
  opacity: 0.6;
}

.field_name {
  width: 24%;
  font-size: 13px;
  position: relative;
}

.field_time {
  width: 24%;
  font-size: 13px;
  position: relative;
  color: #AEB0C2;
}

.status {
  width: 14%;
}

.select-icon {
  width: 25px;
  height: auto;
}

.info > div:last-child {
  margin-left: 2rem;
}

.thumbnail{
  max-width: 48px;
}

@media screen and (max-width: 900px) {
  .item {
    min-height: 71px;
    height: auto;
  }
  .header {
    display: none;
  }

  .info {
    flex-wrap: wrap;
  }

  .info > * {
    margin-bottom: 10px;
  }

  .name {
    width: 200px;
  }

  .field_name,
  .status {
    width: 130px;
  }
}


.pending-tag{
  background: rgba(250, 231, 197, 0.5);
  border-radius: 10px;
  padding: 4px 12px;
}

.complete-tag{
  background: rgba(16, 189, 165, 0.5);
  border-radius: 10px;
  padding: 4px 12px;
}
