.container {
  /*position: relative;*/
  position: fixed;
  width: 100%;
  top: 81px;
  left: 0;
  z-index: 1399; /* To be lower than top bar so that upoad popup is not hidden*/
  background-color: white;
  padding: 24px 32px;
  min-height: 110px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 16px 32px;
  }
}


.filters {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.tab-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.content {
   font-size: 10px;
   margin-left: 20px;
}

.filters > img,
.sec-filters > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: center;
}

.filters > button {
  margin: 0 15px;
}

.sec-filters {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.sort-wrapper {
  z-index: 1000;
  min-width: 127px;
}

.nested-wrapper {
  display: flex;
  align-items: center;
}

.filter {
  display: none;
}

.container .search{
  margin-left: 0;
}

@media screen and (max-width: 1210px) {

  .options {
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .options > button {
    margin-bottom: 10px;
  }

  .filter {
    display: flex;
    position: absolute;
    right: 16px;
    width: 20px !important;
    height: auto;
    justify-content: center;
    top: 17.5px;
  }

  .calendar {
    display: flex;
    position: absolute;
    left: 0;
    width: 20px;
    height: auto;
  }

  .print {
    display: none;
  }
}

.select-only-shown-items-text{
  cursor: pointer;
  margin-right: 15px;
  font-size: 9px;
}

.select-only-shown-items-text:hover{
  text-decoration: underline;
}


.view-dropdown {
  left: 0;
  top: 40px;
  width: 160px;
}

li.dropdown-title {
  padding: 8px 10px;
  background-color: var(--color-sec-lightblue);
}

@media screen and (max-width: 600px) {
  .filters > button{
    margin: 0 4px;
    font-size: small;
  }

  .content{
    width: 100%;
    max-width: 290px;
  }
}

@media screen and (min-width: 810px){
  .hamburger {
    display: none;
  }


}

@media screen and (min-width: 601px) {
  .search-filter--mobile {
      display: none;
  }

  .filter-mobile {
    display: none;
  }

}

@media screen and (max-width: 810px) {
  .sec-filters {
    gap: 8px;
  }

  .mobile-tabs {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .dropdown {
    left: 0;
    top: 36px;
  }

  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .tab-list {
    flex-wrap: wrap;
    gap: 8px;
  }

  .tab-list-item{
    padding: 6px 8px;
  }

  .container {
    top: calc(55px + 36px);
    min-height: 75px;
  }

  .filter-mobile {
    position: absolute;
    top: -26px;
    right: 8px;
    cursor: pointer;
  }
}
