.container { 
  /* position: relative; */
  position: fixed;
  width: 100%;
  top: 81px;
  left: 0;
  z-index: 1300;

  background-color: white;
  padding: 33.5px 40px;
  width: calc(100% - 320px);
  margin-left: 327px;
}
/* .container-on-toggle{
  position: fixed;
  width: 100%;
  margin-left: 0;
  max-width: calc(100% - 130px);
} */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  /* position: fixed;
  width: 100%; */
  /* left: 283px;
  max-width: calc(100% - 283px); */
}

.plusIcon {
  padding: 0px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 16px 40px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 18px;
  width: 100%;
}

.content {
  font-size: 10px;
  margin-left: 20px;
}

.filters>img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: center;
}

.sec-filters>img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: center;
}

.sec-filters>img.gridList {
  width: 20px;
  height: 20px;
}


.filters>button {
  margin: 0 15px;
}

.sec-filters {
  display: flex;
  align-items: center;
  gap: 17px;
  position: relative;
}

.sec-filters button span {
  position: relative;
  left: 0.5px;
  bottom: 0.3px;
}

.sort-wrapper {
  z-index: 1000;
  min-width: 127px
}

.nested-wrapper {
  display: flex;
  align-items: center;
}

.filter {
  display: none;
}

.container .search {
  margin-left: 0;
  margin-right: -14px;
}

@media screen and (max-width: 1210px) {

  .options {
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .options>button {
    margin-bottom: 10px;
  }

  .filter {
    display: flex;
    position: absolute;
    right: 16px;
    width: 20px !important;
    height: auto;
    justify-content: center;
    top: 17.5px;
  }

  .calendar {
    display: flex;
    position: absolute;
    left: 0;
    width: 20px;
    height: auto;
  }

  .print {
    display: none;
  }
}

.select-only-shown-items-text {
  cursor: pointer;
  /* margin-right: 15px; */
  font-size: 9px;
}

.select-only-shown-items-text:hover {
  text-decoration: underline;
}


.view-dropdown {
  right: 0;
  top: 35px;
  width: 160px;
}

@media screen and (max-width: 409px) {
  .view-dropdown {
    right: 0;
    width: 100px;
  }
}


li.dropdown-title {
  padding: 8px 10px;
  background-color: var(--color-sec-lightblue);
  border-bottom: 1px solid var(--color-secondary-border);
}

@media screen and (max-width: 600px) {
  .filters>button {
    margin: 0 4px;
    font-size: small;
  }

  .content {
    width: 100%;
    max-width: 290px;
  }
}

@media screen and (min-width: 810px) {
  .hamburger {
    display: none;
  }


}

@media screen and (min-width: 601px) {
  .search-filter--mobile {
    display: none;
  }

  .filter-mobile {
    display: none;
  }

  .mobile-bottom {
    display: none;
  }

}

@media screen and (max-width: 810px) {
  .sec-filters {
    gap: 8px;
    margin-top: 20px;
  }

  .sec-filters button {
    white-space: nowrap;
    padding: 0 10px;
  }

  .sort-wrapper {
    min-width: 97px;
  }

  .wrapper {
    gap: 0;
  }

  .wrapper .innerwrapper .tab-list-item {
    /* width: calc(100% - 35px);
    overflow: hidden; */
    padding: 0;
  }


  .mobile-tabs {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .dropdown {
    left: 0;
    top: 36px;
  }

  .container {
    padding: 20px;
  }
  .wrapper{
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .tab-list {
    flex-wrap: wrap;
    gap: 8px;
  }

  .tab-list-item {
    padding: 6px 8px;
  }

  .container {
    top: calc(55px + 36px);
    min-height: 75px;
  }

  .filter-mobile {
    position: absolute;
    top: -26px;
    right: 22px;
    cursor: pointer;
  }

  .mobile-bottom {
    background-color: var(--color-prim-navy);
    height: 36px;
    width: 100%;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
}

.gridOuter {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-left: -14px;
  margin-right: 4px;
}

.gridOuter .gridList {
  width: 20px;
  height: 20px;
}


@media (max-width:400px) {
  .wrapper .innerwrapper .tab-list-item {
    font-size: 12px;
  }

  .mobile-tabs img {
    width: 22px;
  }

  .sec-filters {
    gap: 10px;
  }

  .sort-wrapper {
    min-width: 89px;
  }

  .sort-wrapper div+div+div:first-child {
    padding: 0 7px !important;
  }

  .mobilePlus div>div {
    padding: 0;
    margin: 5px 13px 0px 13px;
    display: block;
  }

  .mobilePlus div>div ul {
    bottom: inherit !important;
  }

  .select-only-shown-items-text {
    position: absolute;
    right: 0;
    top: 40px;
  }
}