.nestedButton{
    background:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px;
 
}

.nestedButton span{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color:var(--color-prim-turquoise);
    margin-left: 5px;

}
.addIcon{
    width: 10.5px;
   /* margin-right: 9px; */
   margin-left:10px;
  }
  .addBlock{
    height: 29px;
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    justify-content: end;
  }

  .addBlock_active{
    background: var(--color-sec-lightblue);

  }