.list1-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 7.5px 2px;
    background: #fff;
    margin-bottom:10px;
    box-sizing: border-box;
    
}

.border-bottom{
    border-bottom: none;
}
.list1-description:hover{
    background: var(--color-sec-lightblue);
    padding: 7.5px 2px;
}
.icon{
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.list1-left-contents{
    display: flex;
    align-items: center;
}
.icon-description span{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color:var(--color-prim-navy);
}
/* .active {
    background:var(--color-sec-lightblue);
    border-radius: 4px;
    padding: 4px;
  } */
.icon-description{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}
.icon-description:hover{
    overflow:visible;
    text-overflow: visible;
}
.list1-right-contents span{
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color:var(--color-prim-navy);
}
.active{
    background:var(--color-sec-lightblue);
    border-radius: 4px;
    padding: 7.5px 2px;
}
.sidenav-list1{
    margin-bottom: 10px;
}

@media (max-width:820px) {
    .border-bottom{
        border-bottom: 1px solid #dfdad4;
        padding: 10px 23px;
    }
    .list1-description{
        margin-bottom:0px;
    }
    .active{
        padding: 10px 23px;
    }
    .list1-description:hover{
        
        padding: 10px 23px;
    }
}

@media (max-width:800px){
    .sidenav-list1{
       border-top:1px solid #dfdad4;
    }
    .border-bottom{
        padding: 16px 23px;
    }
}
