.heading-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-icon{
    cursor: pointer;
}
.sidenav-heading{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    Line-height:21.79px;
    color:var(--color-prim-navy);
   
}
.mt-16{
    margin-top: 16px;
}
.active {
    background:var(--color-sec-lightblue);
    border-radius: 4px;
    padding: 4px;
  }