.icon-descriptions span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:var(--color-prim-navy);
  margin-left: 5px;
}
.icon-descriptions{
  max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon-descriptions:hover{
  overflow:visible;
  text-overflow: visible;

}
.list1-right-contents span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color:var(--color-prim-navy);
}
.flex{
  display: flex;
  align-items: center;
}
.w100{
  width:100%;
 
}
.dropdownMenu{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nestedbox{
  padding: 0 24px 0 14px;
  margin-top:20px;

}
.loadbtn{
  display: block;
  background: #fff !important;
  padding: 0 24px 0 24px;
  color: var(--color-prim-turquoise);
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor:pointer;
  margin-top: 10px;

}
.collection{
  padding: 0 24px;
}
.loadmore{
  padding: 0 24px;
}

.folder{
  padding:0 24px 0 24px;
}
.folder-lists {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  height: 30px;
  margin-top: 16px;
}

.dropdownIcons {
  display: flex;
}
.rightIcon {
  margin-right: 5px;
  transform: rotate(275deg);
}
.iconClick{
  transform: rotate(0deg);
  margin-right: 5px;
}
.dropdownOptions {
  margin-top: 16px;
  position: relative;
}
.dropdownOptions::before {
  content: "";
  display: inline-block;
  background-image: url("../../assets/Icons/Utilities/nestedCollection/Line.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -16px;
  bottom: 14px;
  width: 100%;
  height: 1px;
}
.active {
  background:var(--color-sec-lightblue);
  border-radius: 4px;
  padding: 7.5px;
}
.subfolderList {
  padding: 0px 0px 0px 16px;
  border-left: 1px solid #dedad4;
}

.loaderbuttons {
  position: relative;
  padding: 0px 8px;
  min-width: 100px;
  background-color: var(--color-prim-turquoise);
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor:pointer;
  margin-top: 10px;
  border-radius: 8px;
  height:30px;
}


.buttontext {
  transition: opacity 0.3s ease-in-out;
}

.loaderbuttons:hover .buttontext  {
  opacity: 1;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.loaderbuttons:hover .loader {
  opacity: 1;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}