.form-container {
  display: flex;
  width: 50%;
}

h3.title { 
  font-weight: 600;
  margin-bottom: 24px;
}
.companyBtn button{
  min-width: 135px;
  min-height: 35px;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .form-container {
     width: 100%;
     flex-wrap: wrap;
  }
 }