.container {
    display: grid;
    grid-template-columns: 1fr 415px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.content {
    padding: 54px;
}

.side {
    padding: 40px 24px;
    border-left: 1px solid var(--color-border);
}

.side h3 {
    font-size: 16px;
    margin: 0 0 24px;
}

.name {
    margin-bottom: 13px;
}

.image-wrapper {
    max-height: 525px;
    height: 100%;
}

.image-wrapper img {
    height: 100%;
}

.first-section {
    margin-bottom: 28px;
  }
  
  .first-section .field-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .second-section .field-wrapper {
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-secondary-border);
  }
  
  .meta-text{
    font-size: 12px;
  }

  .first-section p {
    font-size: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border);
}   

.container .field-wrapper .tags-list{
    margin-top: 0.7rem;
}
.select-add{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 10px;
}

.select-add img{
    margin-right: 5px;
}

.save-changes {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.select-add{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0;
    /*margin-left: 8px;*/
    margin-top: 1.5rem;
}

.save {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.arrows {
    align-self: center;
    margin-top: 16px;
    color: var(--color-sec-blue);
    text-align: center;
  }
  
  .arrows > div {
    text-align: center;
  }
  
  .arrow-prev {
    margin: 16px 10px;
    display: inline-block;
  }
  
  .arrow-next {
    margin: 16px 10px;
    display: inline-block;
  }
  

  @media screen and (max-width: 1200px) {
    .first-section {
      grid-template-columns: repeat(2, 1fr);
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .image-wrapper {
        max-height: 400px;
    }
  }

  @media screen and (max-width: 900px) {

    .content, .side {
        padding: 40px 32px;
    }
    

    .image-wrapper {
        max-height: 314px;
    }
  }
  
  @media screen and (max-width: 600px) {

    .content {
        padding-bottom: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .side {
        padding-top: 32px;
    }

    .field-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .image-wrapper img {
        width: 100%;
        height: auto;
    }
  }