.container {
    display: grid;
    grid-template-areas: "content-asset side";
    grid-template-columns: 1fr 26.5rem;
    z-index: 20000;
}
.content {
    background-color: white;
    padding-top: 0;
    margin-top: 15px;
    height: 100vh;
    padding-bottom: 15px;
    overflow-y: auto;
}

.side {
    height: 100vh;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
}
.menu {
  display: none;
}

@media screen and (max-height: 760px) {
    .container {
      overflow-y: auto;
    }
    .side, .menu {
      height: 100%;
      padding-top: 15px;
      padding-bottom: 60px;
    }
}

.top-wrapper {
    /*position: relative;*/

    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    padding-bottom: 2rem;
}
.top-wrapper .name {
    text-align: center;
}
.top-wrapper .name h3 {
    margin-right: 1rem;
}

.back {
    padding-top: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
    width: fit-content;
    position: absolute;
    top: 20px;
}
.back img {
    margin-right: 0.5rem;
    width: 14px;
}

.mode {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1250px) {
  .mode {
   position: unset;
   justify-content: center;
   margin-top: 15px;
  }
}
.mode p {
  font-weight: 700;
  margin-right: 25px;
}
.mode .option {
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mode .option img {
  margin-right: 5px;
  width: 17px;
}

.asset-actions {
    text-align: center;
}
.asset-actions button {
    margin-right: 20px;
    margin-top: 20px;
}

.content {
    grid-area: content-asset;
    padding-right: 25px;
    padding-left: 25px;
}

.side {
    grid-area: side;
    border-left: 1px solid var(--color-secondary-border);
    overflow-y: auto;
}

@media screen and (max-width: 1100px) {
    .container {
      display: flex;
    }
    .content {
      width: 100%;
    }
    .menu {
      grid-area: asset-menu;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--color-sec-lightivory);
      border-left: 1px solid var(--color-secondary-border);
      padding: 30px 0;
      right: 0;
      position: absolute;
      width: 60px;
      height: 100%;
  }

    .side {
      grid-area: unset;
      position: absolute;
      background-color: white;
      right: 60px;
      border-top: 1px solid var(--color-secondary-border);
      border-bottom: 1px solid var(--color-secondary-border);
      min-height: 50vh;
    }

    .top-wrapper {
      margin-right: 60px;
    }
}
