.main-wrapper{
    width: 80%;
}

.main-wrapper h3 {
    margin: 0;
    font-weight: 600;
  }
  
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-secondary-border);
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

.field_title {
    font-weight: 500;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--color-sec-lightivory);
}

.input {
    width: 162px;
}

.input label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 16px;
    display: block;
}

.input_group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button_group {
    display: flex;
    align-items: center;
    gap: 24px;
}

.button_group button {
    min-width: 80px;
}

.col-15{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-20{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-35{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-40{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-100{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.action-button{
    width: 21px;
    height: 21px;
    margin-left: 10px;
}


.row-header{
    margin: 0 0 15px 15px;
    display: block;
    border-bottom: solid 1px #dddad4;
    padding-bottom: 5px;
    padding-right: 15px;
    /*font-weight: 600;*/
}

.p-l-30{
    padding-left: 30px;
}
.d-flex{
    display: flex;
}
.font-weight-600{
    font-weight: 600;
}

.field-block{
    margin-bottom: 75px;
}

.tag-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tag-item{
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.tag-item-text{
    font-weight: normal;
    margin-right: 10px;
    font-size: 13px;
}

.close-modal-btn{
    position: absolute;
    right: 10px;
    top: 0;
}

.confirm-modal-text{
    padding-top: 30px;
}

.input-label{
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.select-add{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-add img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.saveBtn{
    font-size: 14px;
}
.saveblock{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1200px) {
    .main-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .field {
        width: 100%;
    }
    .input {
        width: 100% !important;
    }
   
}

