.content {
  padding: 42px 60px;
}

.buttons{
  display: flex;
  padding: 32px 60px 16px;
  padding-top: 32px;
  border-bottom: 1px solid var(--color-border);
  gap: 24px;
}

.integration-list{
  margin: 2.5rem 2rem 0 2rem;
}

.integration-list li{
  margin-bottom: 5rem;
}

.container {
  width: 70%;
}

.container h3 {
  margin: 0 0 30px;
  font-weight: 600;
}

.row {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-secondary-border);
  gap: 16px;
}

.label {
  font-size: 14px;
  font-weight: 400;
}

.field-radio-wrapper {
  display: flex;
  gap: 100px;
  min-width: 300px;
  width: 100%;
  max-width: 550px;
}
.field-radio-wrapper-auto{
  display: flex;
  gap: 200px;
}

.radio {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
/* .automation{
  margin-left: 200px;
} */
.collection-tab{
  width: 20%;
}
.subfolder-tags{
  width:30%;
}
.radio img {
  width: 20px;
  height: 20px;
}
.custom-view-wrapper{
  padding: 0 60px;
}
.account-action-wrapper{
  width: 40%;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 900px)  {
  .content {
    padding: 42px 30px;
  }
  .buttons {
    padding: 32px 30px 16px;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {

  .content {
    padding: 42px 16px;
  }
  .buttons {
    padding: 32px 16px 16px;

  }

  .field-radio-wrapper {
    flex-wrap: wrap;
    gap: 8px 32px;
  }

  .row {
    flex-wrap: wrap;
  }
}