
.headContent{
    display: flex;
    align-items: center;
}
.firstColumn {
    /* width: 56%;
    */
    width: 50%;
  }
  .secondColumn {
    /* width: 20%; */
    
   
  }
  .thirdColumn {
    /* width: 20%; */
   
  }
  .fourthColumn {
    /* width: 20%; */
   
  }
  .table-head-row{
    background: #F6EFE4;
    padding: 12px 8px;
  }
  .table-head-row th{
    padding: 12px 8px;
  }
  @media (max-width: 768px) {
    .firstColumn,
    .secondColumn,
    .thirdColumn,
    .fourthColumn {
      width: auto; 
    }
  }
  
  
  