.container{
  max-width: 48rem;
}

.container > h3, .main-headers {
  margin-top: 3rem;
}

.main-headers{
  display: flex;
}

.main-headers>h3:first-child{
  width: 80%;
}

.back {
  padding-top: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 25px;
}

.back img {
  margin-right: 0.5rem;
}
