.divider {
  border-top: 1px solid var(--color-secondary-border);
}

.content {
  padding: 42px 60px;
  }
  .noRequest{
    padding: 0 0 0 10px;
  }

.main-headers {
  display: flex;
  background-color: #F9FAFF;
  padding: 16px;
  border: 1px solid #E9EEFA;
}

.main-headers h3 {
  font-weight: 600;
  margin: 0;
}

.main-headers>h3:first-child {
  width: 60%;
}

.back {
  padding-top: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 25px;
}

.back img {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  padding: 32px 60px 16px;
  padding-top: 32px;
  border-bottom: 1px solid var(--color-border);
  gap: 24px;
}


@media screen and (max-width: 900px) {
  .content {
    padding: 42px 30px;
  }

  .buttons {
    padding: 32px 30px 16px;
  }
}

@media screen and (max-width: 600px) {
  .container h3 {
    font-size: 14px;
  }

  .content {
    padding: 42px 16px;
  }

  .buttons {
    padding: 32px 16px 16px;
  }

  .main-headers>h3:first-child {
    width: 52%;
  }

}