.container {
  display: flex;
  width: 100%;
  margin: 0.8rem 0;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
}

.container:last-child {
  border-bottom: none;
}

.name-email {
  width: 80%;
}

.name-email > div:first-child {
  font-size: 16px;
  font-weight: 500;
}

.name-email > div:last-child {
  color: var(--color-sec-text);
  font-weight: 400;
}

.grey-text{
  color: var(--color-sec-text);
  font-size: 12px;
}

.red-text{
  color: var(--color-prim-red);
  font-size: 12px;
}

.resend-button{
  margin-left: 15px;
}

.role{
  font-weight: 600;
  width: 98px;
}

.details{
  display: flex;
}

.expire-date{
  display: flex;
  width: 35%;
  align-items: center;
}

.operation-buttons{
  display: flex;
  width: 50px;
}

.hidden{
  visibility: hidden;
}

.action{
  margin-left: 1rem;
  color: var(--color-sec-text);
  cursor: pointer;
}

.resend-image{
  width: 10px
}
