.list {
  margin-top: 2rem;
}
.listIcon {
  position: absolute;
  top: 1rem;
  right: 0;
}
.listIcon img {
  margin-right: 1.2rem;
  cursor: pointer;
}
.listIcon img:hover {
  opacity: 0.5;
}
.listIcon img:last-child {
  margin-right: 0px;
}
.action {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.name-email > div:first-child {
  font-weight: 600;
}

.no-comp {
  color: var(--color-sec-blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 1rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
}

.header-title {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name-email {
  width: 11%;
}

.company {
  width: 24%;
}

.date,
.storage,
.btn,
.plan,
.files {
  width: 10%;
}

.files {
  width: 5%;
}

.invisible {
  visibility: hidden;
}

.download-icon {
  scale: 1.4;
}
