.list{
  margin-top: 2rem;
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.name-email {
  width: 12rem;
  margin-right: 1rem;
}

.name-email>div:first-child{
  font-weight: 600;
}

.role{
  width: 7rem;
}

.company{
  flex: 1;
}

.no-comp{
  color: var(--color-sec-blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 1rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
}

.header-title{
  color: #a7adbb;
  font-weight: 600;
}

.invisible{
  visibility: hidden;
}
