.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.name, .container button{
  min-width: 140px;
}

.name{
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.name>img{
  width: 15px;
  height: 15px;
}