.container {
  display: flex;
  align-items: flex-start;
  margin: 2.5rem 0;
  gap: 16px
}

.description{
  margin-bottom: 0;
  font-weight: 300;
}

.container button{
  min-width: 150px;
}

.current, .no-photo, .loading{
  width: 53px;
  height: 53px;
}

.current, .loading {
  object-fit: cover;
  border-radius: 50%;
}

.no-photo {

}

.team{
  object-fit: contain;
  border-radius: 0;
}