.container {
    padding: 0 40px;
  }
  

@media (min-width:1200px){
  .container {
    margin-top: 199px;
  } 
}

  @media screen and (max-width: 900px) {
    .container {
      padding: 17.5px 16px;
    }
  }
  
  .col-wrapper,.col-wrapperview {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  @media (min-width:1024px){
    .col-wrapper {
      padding-top: 85px;
    }
  }