.container {
  padding: 0 0 0 20px;
}

.containerPortal{
  padding: 0;
  padding: 0 40px;

}

.mainContainer {
  max-width: calc(100% - 283px);
  position: relative;
  left: 283px;
  padding: 60px 35px;
  width: 100%;
  top: 81px;
  top: 15px;
}

.mainContainer-portal{
  width:100%;
  position: relative;
  left: 0px;
  padding: 60px 35px;
  width: 100%;
  top: 81px;
  top: 15px;
}


.filterViewWrapper {
  /* margin-top: 200px; */
  /* position: fixed; */
  background: #fff;
  z-index: 999;
  width: 100%;
  top: 179px;
  top: 162px;
  margin-bottom: 30px;
  
}
.sidenav-main-wrapper{
  width: 283px;
  height:100%;
  border-right:1px solid #DEDAD4;
  position: fixed;
  padding: 0 16px 0 16px;
  top:87px;

}
@media screen and (max-width: 900px) {
  .container {
    padding: 17.5px 16px;
  }
}
.col-wrapper {
  padding-top: 0px !important;
}


/* .col-wrapper,
.col-wrapperview {
  display: flex;
  justify-content: space-between;
  gap: 40px;
} */

@media screen and (min-width: 1024px) {
  .col-wrapper {
    padding-top: 85px;
  }

  .col-wrapperview {
    padding-top: 0;
  }
}

.rightToggle {
  width: 100%;
  padding: 0 35px;
}


.toggleContainer{
  margin-top: 80px;
  max-width: 100%;
  margin-left: 0;
  padding-top: 5px;
 

}

@media (max-width:820px){
  .mainContainer {
 max-width: 100%;
 left: 0;
  }

}
@media screen and (max-width: 800px) {
  .container {
    padding: 17.5px 0px;
  }
}

@media (max-width:600px){
  .rightToggle {
    width: 100%;
    padding: 0;
  }
  
}