.container {
  padding: 35px 0px 25px 35px;
  margin-top:81px;
}

.grid-wrapper {
  /* margin-top: calc(81px + 68px); */
  margin-top:30px;
}

@media screen and (max-width: 600px) {
  .grid-wrapper {
    /* margin-top: calc(55px + 36px + 75px); */
  }
}

.col-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media screen and (max-width: 600px) {
  .search-desktop {
    display: none;
  }

  .container {
    padding: 0;
  }
}

@media screen and (min-width: 601px) {
  .search-mobile {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  .container {
    padding: 20px;
  }
}

.active-breadcrumb-item {
  /* margin-top: calc(81px + 166px); */
}

@media screen and (max-width: 767px) {
  .active-breadcrumb-item {
    margin-top: calc(81px + 98px);
  }
}

.newsidenav{padding: 0;}
.newsidenav img{
  cursor: pointer;
}
.sidenavRightIcon{
  padding: 6px 0 0 0;

}
.innnerContainer{
  display: flex;
  /* height: calc(100vh - 170px);
  overflow: auto; */
}
.rightSide{
  width: 100%;
  padding:0 35px;
}

