.container {
  padding: 35px 32px;
}

.grid-wrapper{
  margin-top: 205px
}

@media screen and (max-width: 900px) {
  .container {
    padding: 17.5px 16px;
  }

  .grid-wrapper{
    margin-top: calc(55px + 1rem);
  }
}

.col-wrapper {
  display: flex;
  justify-content: space-between;
}
