.container {
  grid-area: side-nav;
  min-height: 80vh;
  height: 100%;
  padding: 42px 0;
  background-color: var(--color-prim-navy);
  color: white
}

.container>ul {}

.setting {
  font-size: 14px;
  padding: 8px 30px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 8px;
}

.selected, .setting:hover {
  background-color: #374186
}

@media screen and (max-width: 1100px){
  .container {
    position: absolute;
    grid-area: unset;
    background-color: white;
    border-top: 1px solid var(--color-secondary-border);
    width: 200px;
    z-index: 1;
    top: 2.5rem;
  }
}