.list{
  margin-top: 2rem;
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.header-container {
  padding: 1rem 0;
  margin-top: 1rem 0;
  display: flex;
}

.header-container div {
  font-weight: 600;
}

.icon {
  width: 14px;
  height: 14px;
  color: var(--color-secondary-border);
}



.button {
  width: 115.14px;
}

.name-email {
  width: 250px;
}

.name-email>div:first-child{
  font-weight: 600;
}

.centered-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.role{
  flex: 1;
}

.company{
  flex: 2;
}

.date {
  flex: 1;
}
