.header {
  background-color: var(--color-prim-navy);
  padding: 20px 40px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 81px;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: auto;
  margin-right: 40px;
  cursor: pointer;
}

.navigation-links {
  display: flex;
  flex: 1;
}
.upload-approval {
  margin-right: 15px;
}

.notifications-wrapper {
  display: flex;
  align-items: center;
  /* margin: 0 20px; */
  margin-right: 16px;
}

.notifications {
  width: 18px;
  height: auto;
}

.user {
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-dropdown {
  position: absolute;
  top: 3rem;
}

.hamburger {
  display: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  align-items: center;
  flex: 1;
  min-width: 2rem;
}

.hamburger:hover {
  color: var(--color-sec-blue);
}

.superadmin-back{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.upload-approval {
  margin-right: 15px;
}

@media screen and (min-width: 601px) {
  .mobile-navigation-links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 55px;
    padding: 10px 16px;
  }

  .logo-img {
    width: 35px;
    height: auto;
    margin-right: 10px;
  }

  .navigation-links {
    display: none;
  }

  .mobile-navigation-links {
    flex: 1 1;
  }
  .menu-dropdown {
    left: 56px;
    top: 44px;
  }
  .upload-approval {
    margin-left: 10px;
    margin-right: 10px;
  }
}