.header {
    background-color: white;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1499; */
    /* min-height: 90px; */
    border-bottom: 1px solid #DEDAD4;
    width: 100%;
}

.logo-img {
    margin-right: 48px;
    cursor: pointer;
    max-width: 50px;
    object-fit: contain;
}

.collection-name {
    flex: 1;
    font-size: 22px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-links {
    display: flex;
    flex: 1;
}

.notifications-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.notifications {
    width: 18px;
    height: auto;
}

.user {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-dropdown {
    position: absolute;
    top: 3rem;
}

.profile {
    width: 27px;
    height: auto;
    margin-right: 10px;
}

.header h1 {
    color: var(--primary-color);
    font-weight: 600;
    flex: 1;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 32px;
}

.ops-wrapper {
    position: absolute;
    right: 0;
    margin-right: 2rem;
}

.ops-wrapper button {
    margin-left: 1rem;
}
.image-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


@media (min-width:1200px){
    .header {
        position: fixed;
        width: 100%;
        padding: 10px 32px;
        z-index: 9999;
    }
    .logo-img {
        max-width: 40px;
        object-fit: contain;
        max-height: 45px
    }
    
}

@media screen and (max-width: 600px) {
    .header {
        padding: 13.5px 16px;
        flex-wrap: wrap;
        min-height: 40px;
    }

    .ops-wrapper {
        margin-top: 1rem;
        width: 100%;
    }

    .header h1 {
        position: relative;
        height: auto;
    }

    .logo-img {
        max-height: 48px;
        width: auto;
        cursor: pointer;
        margin-right: 18px;
    }

    .logo-img {
        max-height: 48px;
        width: auto;
        cursor: pointer;
        margin-right: 18px;
    }

    .collection-name {
        font-size: 1em;
    }

    .ops-wrapper {
        position: static;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 0;
    }
}