.header {
    background-color: white;
    padding: 30px 32px;
    display: flex;
    align-items: center;
    position: relative;
}

.image-wrapper {
    flex: 1;
}

.logo-img {
    max-height: 75px;
    width: auto;
    margin-right: 48px;
    cursor: pointer;
}
.collection-name {
    font-size: 22px;
    height: 75px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 300px;
    left: 300px;
}

.navigation-links {
    display: flex;
    flex: 1;
}

.notifications-wrapper {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.notifications {
    width: 18px;
    height: auto;
}

.user {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.user-dropdown {
    position: absolute;
    top: 3rem;
}

.profile {
    width: 27px;
    height: auto;
    margin-right: 10px;
}
.header h1 {
    color: var(--color-prim-navy);
    font-weight: 600;
    flex: 1;
}

.ops-wrapper button {
    margin-left: 1rem;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 17.5px 16px;
        flex-wrap: wrap;
    }
    .ops-wrapper {
        margin-top: 1rem;
        width: 100%;
    }

    .header h1 {
        top: 1.5rem;
    }

    .collection-name {
        right: 0;
        left: 0;
    }
}
