.container {
    margin-top: 15px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.select-item {
    width: 100%;
    display: grid;
    grid-template-columns: 20px auto 20%;
    margin-top: 10px;
    align-items: center;
    text-align: right;
}
.select-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .item-list {
        flex-direction: column;
    }
    .select-item {
        width: 100%;
    }
    .item-list .tags-container:nth-last-child(-n + 5) {
        display: none;
    }
    .select-item p {
        font-size: 13px;
    }
}
.one-column {
    flex-direction: column;
}
.one-column .select-item {
    width: 100%;
}

.select-icon {
    display: block;
    width: 14px;
}
.select-item p {
    margin: 0 10px;
    font-size: 13px;
    font-weight: 400;
}
.item-name {
    text-align: left;
}
.item-total {
    font-size: 13px;
    color: var(--color-sec-text);
    font-weight: 300;
}

.container form {
    margin-top: 20px;
}
.container form img {
    height: 18px;
    width: 18px;
    margin: 17px 10px;
}
.container form input {
    min-height: 50px;
}
.container button {
    display: none;
}

.select-filter {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    position: relative;
}

.any-all-wrapper {
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.any-all-wrapper > div {
    display: flex;
    align-items: center;
}

.any-all-wrapper > div:first-child {
    margin-right: 17px;
}

.any-all-text {
    margin-left: 5px;
}

.dropdownOpt {
    position: relative;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.dropdownOptHead {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    color: var(--color-sec-text);
    cursor: pointer;
    font-size: 12px;
}
.dropdownOptHead img {
    width: 8px;
    filter: contrast(0.5);
}
.dropdownOpt .view-dropdown {
    position: absolute;
    right: 0;
    top: 18px;
    width: 160px;
}
.dropdownOpt .view-dropdown li {
    min-width: 100%;
    padding: 7.5px 10px;
    gap: 0;
}