.button-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.import-wrapper {
    max-width: 55rem;
    width: 100%;
    margin-top: 1rem;
}

.operations{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    max-width: 55rem;
}

.operations button:first-child{
    margin-right: 1rem;
}

.select-only-shown-items-text{
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
}

.select-only-shown-items-text:hover{
    text-decoration: underline;
}
