.button-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.import-wrapper {
    max-width: 55rem;
    width: 100%;
    margin-top: 1rem;
}

.operations{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    max-width: 55rem;
}

.operations button:first-child{
    margin-right: 1rem;
}