.button-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.import-wrapper {
    max-width: 55rem;
    width: 100%;
    margin-top: 1rem;
}

.operations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    max-width: 55rem;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.tags {
    text-align: center;
    font-weight: 600;
    width: 28%;
    margin-right: 15px;
}

.type {
    text-align: center;
    font-weight: 600;
    width: 7%;
    margin-right: 15px;
}

.collection {
    text-align: center;
    font-weight: 600;
    width: 20%;
}

.operations button:first-child{
    margin-right: 1rem;
}

.select-only-shown-items-text{
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    font-size: 9px;
}

.select-only-shown-items-text:hover{
    text-decoration: underline;
}

.view-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 15px;
    align-self: center;
}

.list-head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 55rem;
}

.share-landing-search{
    position: absolute;
    /* transform: translate(-100%); */
    right: 105%;
}

@media screen and (max-width: 1800px) {
    .share-landing-search{
        /* transform: translate(-20%); */
    }
}

@media screen and (max-width: 690px) {
    .list-head {
        display: none;
    }
}
@media (min-width:912px) and (max-width:1030px){
    .share-landing-search{
        width: 230px !important;
    }

}

@media screen and (max-width: 1300px) {
    .share-landing-search{
        width: 400px;
    }
}

@media screen and (max-width: 810px) {    
    .share-landing-search{
        top:-27px;
        width: 365px;
        right: 91%;
    }
}

@media screen and (max-width: 500px) {
    .share-landing-search{
        width: 100vw;
        transform: translate(52%, -170%);
        z-index: -1
    }
}

@media screen and (max-width: 375px) {    
    .share-landing-search{
        width: 352px;
        top:-27px;
    }
}