.image-wrapper {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
}

.image-wrapper div, .image-wrapper div img {
  width: 2rem;
  height: 2rem;
}

.image-wrapper.image-selectable{
  margin-left: 10px;
}

.image-wrapper>img, .image-wrapper>.video-wrapper {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.name {
  width: 40%;
  position: relative;
  cursor: pointer;
  word-break: break-all;
}

.name:hover {
  opacity: 0.5;
}

.tag {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tag > span {
  border: 1px solid var(--color-secondary-border);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 3px;
}

.extension {
  width: 7%;
  position: relative;
  text-align: center;
}

.folder {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.folder > span {
  border: 1px solid var(--color-prim-navy);
  box-sizing: border-box;
  border-radius: 19px;
  padding: 2px 8px;
  margin: 3px;
  text-align: center;
  width: max-content;
}

.search-item {
  cursor: default;
}

.search-item .select-icon {
  width: 25px;
  height: auto;
}