.container button {
  min-width: 135px;
  min-height: 35px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.container input {
  border-radius: 10px;
  font-weight: 300;
}

.divider {
  padding-top: 2rem;
  border-top: 1px solid var(--color-secondary-border);
  margin-top: 2rem;
}

.container h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form {
  display: flex;
  width: 50%;
  margin-bottom: 24px;
  margin-top: 20px;
}
.profileFormdata{
  max-width: 356px;
  height:45px;
}

.change-password-button {
  align-self: flex-end;
  margin-bottom: 15px;
}
.fields-first{
  margin-top:20px;
}
.passwordLabels{
  margin-bottom:20px;
}

@media screen and (max-width: 900px) {
  .form {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin-bottom: 28px;
  }

  .container button {
    margin-top: 0;
  }
}