.container {
  width: 100%;
}

.header-row,
.project-row {
  display: flex;
  flex-wrap: wrap;
}

.header-row > div,
.project-row > div {
  padding: 20px;
  padding-left: 0;
  width: 19%;
  display: flex;
  align-items: center;
}

.header-row {
  border-bottom: 1px solid var(--color-secondary-border);
}

.header-row > div {
  color: var(--color-prim-turquoise);
  font-weight: 600;
}

.project-row > div > div {
  cursor: pointer;
}

.project-row > .delete {
  width: 5%;
  display: flex;
  justify-content: flex-end;
}

.project-row > .delete > div {
  width: fit-content;
}

.text-selected {
  color: var(--color-prim-navy);
}
.text-placeholder {
  color: var(--color-sec-text);
}

.button-container {
  width: 50px;
  margin-top: 2rem;
}

.button-container button{
  padding: 0;
  min-width: 130px;
}

.collaborators-dropdown {
  position: absolute;
  z-index: 100;
}

.collaborator-list {
  display: flex;
  flex-wrap: wrap;
}

.collaborator-list li {
  margin-top: 0.4rem;
  margin-right: 0.7rem;
}

.input-name {
  border: none;
  color: var(--color-prim-navy);
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .header-row {
    display: none;
  }

  .header-row > div,
  .project-row > div {
    width: 250px;
  }
}
