.container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 60vh;
    padding: 35px 32px;
  }

  .list-wrapper{
    width: 100%;
    max-width: 1800px;
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(5, minmax(328px, 1fr));
    grid-gap: 45px;
  }

.logo{
    padding-bottom: 1rem;
    width: 13rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 48px;
    cursor: pointer;
}

.header {
    background-color: var(--color-prim-navy);
    padding: 16px 32px;
    display: flex;
}

@media screen and (max-width: 800px) {
  .header {
    height: 90px;
  }
}

@media screen and (max-width: 1280px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(208px, 1fr));
    grid-gap: 40px;
  }
}


@media screen and (max-width: 810px) {
  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 28px;
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 8px;
    padding:  0;
  }
}