.container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 60vh;
    padding: 5rem;
  }

  .list-wrapper{
    width: 100%;
    max-width: 1800px;
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

.logo{
    padding-bottom: 1rem;
    width: 13rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

.logo-img {
    height: 48px;
    width: auto;
    margin-right: 48px;
    cursor: pointer;
}

.header {
    background-color: var(--color-prim-navy);
    padding: 30px 32px;
    display: flex;
}
