.container{
  display: flex;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top: -52px;
  left: 116px;
}

.download{
  margin-right: 15px;
}

.deselectAll, .download {
  border-radius: 4px;
}

.files-shared {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-right: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 370px;
  white-space: nowrap;
}
.share-buttons{
  display: flex;
  align-items: center;
  gap:15px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    top: -78px;
  }

  .files-shared {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 0;
    max-width: 290px;
  }
}