/* TableComponent.module.css */

.outer-wrapper{
  /* width: calc(100% - 218px);
  margin-left: 218px;
  padding: 40px; */
  position: relative;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width:calc(100% - 218px);
  margin-left:218px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.outer-wrapper-toggle{
  width:100%;
  margin-left:0;
}

.tableResponsive {
    overflow-x: auto;
    border:1px solid#DEDAD4;
    padding: 16px;
  
  }
 
  .smallHeading{
    font-weight: 600;
    font-size: 16px;
    color:#08135E;
  }
  
  .heading{
    font-weight: 600;
    font-size: 22px;
    color:#08135E;

  }
  .description{
    font-weight: 400;
    font-size: 12px;
    color:#08135E;

  }
  .tableHeading{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    cursor: default;
  }
.heading-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-header-tabs{
  display: flex;
  align-items: center;
  gap:15px;
  
}
.laptop-view{
  display: none;
}
.mobile-view{
  display: none;
}
.usernameWithImage{
  display: flex;
  align-items: center;
}
.image-wrapper{
  margin-right:8px;
}

@media (min-width:475px) and (max-width:1280px){
  .laptop-view{
    display: block;
  }
  .web-view{
    display: none;
  }
  .table-header-tabs{
    margin-bottom:48px
  }

}
@media (max-width:475px){
  .mobile-view{
    display: block;
  }
  .laptop-view{
    display: none;
  }
  .web-view{
    display: none;
  }
  .mobile-wrap{
    display: flex;
    align-items: center;
  }
}