/* TableComponent.module.css */

.outer-wrapper{
  width: calc(100% - 218px);
  margin-left: 218px;
  padding: 40px;
    
}

.tableResponsive {
    overflow-x: auto;
    border:1px solid#DEDAD4;
    padding: 16px;
  
  }
 
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  .table th{
    background:#F6EFE4 ;
    color:#08135E;
    font-weight: 500;
    font-size: 12px;
   
  }
  .table td {
    text-align: left;
    padding: 12px 8px;
    color:#08135E;
    font-weight: 400;
    font-size: 12px;
  }
  
  .table th, .table td {
    text-align: left;
    padding: 12px 8px;
  }
  .table tr:nth-child(even) {
    background-color: #FAF8F5;
  }
  
  .table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  .headingIcon{
    display: flex;
    align-items: center;
  }
  .actionButton{
    border: none;
    color: #10BDA5;
    outline: none;
    background: transparent;
    cursor: pointer;

  }
  .image-wrapper{
    max-width: 28px;
    height:28px;
    width: 100%;
    object-fit: cover;

  }
  .heading{
    font-weight: 600;
    font-size: 22px;
    color:#08135E;

  }
  .description{
    font-weight: 400;
    font-size: 12px;
    color:#08135E;

  }
  .tableHeading{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
.heading-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-header-tabs{
  display: flex;
  align-items: center;
  gap:15px;
  
}
.laptop-view{
  display: none;
}
.mobile-view{
  display: none;
}
.usernameWithImage{
  display: flex;
  align-items: center;
}
.image-wrapper{
  margin-right:8px;
}

@media (min-width:475px) and (max-width:1280px){
  .laptop-view{
    display: block;
  }
  .web-view{
    display: none;
  }
  .table-header-tabs{
    margin-bottom:48px
  }

}
@media (max-width:475px){
  .mobile-view{
    display: block;
  }
  .laptop-view{
    display: none;
  }
  .web-view{
    display: none;
  }
  .mobile-wrap{
    display: flex;
    align-items: center;
  }
}