.item{
    padding: 16px;
    border-bottom: solid 1px #dddad4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.name{
    color: #08135E;
    font-size: 12px;
}

.wrapper{
    margin-bottom: 16px;
}