/* Menu */

.menu {
  z-index: 1400;
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  border-radius: 8px;
  position: absolute;
  right: -36px;
  top: 1px;
  width: 209px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-divider {
  border-bottom: 1px solid #E5E5E5
}

.title {
  color: var(--color-prim-navy-hover);
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
  text-transform: uppercase;
}

.menu li {
  text-align: left;
  min-width: 150px;
  display: flex;
  cursor: pointer;
  min-height: 28px;
  align-items: center;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
}


.menu li a {
  padding-left: 10px;
  min-width: inherit;
  display: inherit;
}

.menu li:hover {
  background-color: var(--additional-color);
}

.menu li span {
  display: inline-flex;
  color: var(--primary-color);
}


.menu li span img {
  width: 14px;
  height: auto;
}

.user {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-bottom: 1px solid #E5E5E5;
}


@media screen and (max-width:810px) and (orientation: landscape) {
  .menu {
    max-height: 77vh;
    overflow-y: auto;
  }
}