.field {
  margin-bottom: 16px;
}

.tags-list {
  margin-top: 16px;
}


.select-add {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #08135E;
}

.select-add img {
  margin-right: 5px;
  width: 19px;
}

.show-all {
  color: var(--color-sec-text);
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 16px;
}

.creatable-select {
  max-width: 260px;
  width: 100%;
}