.field {
  margin-bottom: 16px;
  /* font-size: 14px;
  color: var(--color-prim-navy); */
}

.tags-list{
  margin-top: 16px;
}

.select-add{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.select-add img{
  margin-right: 5px;
  width: 17px;
}

.show-all {
  color: var(--color-sec-text);
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 16px;
}
