.container {
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  width: 100%;
}

.filter {
  min-width: 170px;
  font-size: 13px;
  border: 2px solid var(--color-secondary-border);
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  margin-left: 0.5rem;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.option img {
  width: 15px;
  height: 15px;
}

.search {
  margin: 11px;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .filter {
    min-width: 0;
  }
}
