.form {
  display: flex;  
  position: relative;
}

.input-container {
  border-radius: 8px;
  width: 100%;
  background-color: var(--color-sec-lightivory);
  color: var(--color-prim-navy);
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: fit-content;
}

.input-container input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--color-prim-navy);
}


.input-container img {
  width: 19px;
  height: 19px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6.5px 12px 6.5px 19px;
  width: 100%;
}

.input-wrapper ::-webkit-input-placeholder,
.input-wrapper :-moz-placeholder,
.input-wrapper ::-moz-placeholder,
.input-wrapper :-ms-input-placeholder,
.input-wrapper ::-ms-input-placeholder,
.input-wrapper ::placeholder {
  color: var(--color-sec-blue);
  opacity:  1;
}

.tags {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
}

.tag {
  background-color: var(--color-prim-navy);
  border-radius: 5px;
  color: white;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 12px;
}

.tag > img {
  width: 10px;
  height: auto;
  filter: grayscale(1) invert(1) brightness(500%);
}

.tag > span {
  cursor: pointer;
}

.tag > span img {
  width: 8px;
  height: auto;
}

.filters {
  width: 100%;
  padding: 20px 14px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid var(--color-secondary-border);
}

.filters h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.filters ul {
  display: flex;
  align-items: center;
  gap: 11px;
  flex-wrap: wrap;
}

.filter {
  background-color: #E5E5E5;
  border-radius: 23px;
  padding: 7px 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.filter-active {
  background-color: var(--color-prim-navy);
  color: white;
  font-weight: 700;
}

.limit {
  background-color: rgba(8, 19, 94, 0.2);
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.limit img {
  width: 12px;
  height: auto;
  cursor: pointer;
}

.limit-active {
  background-color: var(--color-prim-navy);
  color: white;
}
.limit-active img {
  filter: grayscale(1) invert(1) brightness(500%);
}

@media screen and (max-width: 600px) {
  .filters {
    display: none;
  }

  .input-container {
    border-radius: 0;
  }

  .input-wrapper {
    padding: 8px 12px;
  }
}