.list{
  margin-top: 2rem;
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttons{
  display: flex;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.buttons button{
  margin-right: 3rem;
}

.back {
  padding-top: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  width: fit-content;
}

.back img {
  margin-right: 0.5rem;
}

.list{
  margin-top: 2rem;
}

.action{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.name-email {
  width: 12rem;
  margin-right: 1rem;
}

.name-email>div:first-child{
  font-weight: 600;
}

.role{
  width: 7rem;
}

.company{
  flex: 1;
}

.company>div:first-child{
  font-weight: 600;
}

.no-comp{
  color: var(--color-sec-blue);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 1rem;
  border-bottom: 1px solid var(--color-secondary-border);
}

.header-title{
  color: #a7adbb;
  font-weight: 600;
}

.invisible{
  visibility: hidden;
}

.cdnEmbedding {
  margin-top: 50px;
}

.base-plan-modal{
  overflow: visible;
}

.plan-modal{
  width: 25em;
  height: 35em;
  padding: 32px
}

.input-wrapper{
  padding: 1rem 2rem;
}

.form-field{
  margin-bottom: 16px;
}

.form-title{
  margin-bottom: 4px;
  color: grey;
}

.date-wrapper input{
  padding: 14px 16px !important;
  width: 100%;
}

.close{
  font-size: 20px;
  font-weight: 400;
  color: var(--color-sec-blue);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px
}

.active-badge{
  padding: 4px 8px;
  background-color: #13bda6;
  color: white;
  border-radius: 4px;
}

.trial-badge{
  padding: 4px 8px;
  background-color: #d19f24;
  color: white;
  border-radius: 4px;
}
