/*----- Define style for all types of buttons used in the app -----*/
.container {
  border-radius: 5px;
  height: 34px;
  padding: 0 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 12px;
  min-width: 120px;
  white-space: nowrap;

}

.add{
 background:#fff;
 width:22px;
 height:22px;
 background: #10BDA5 ;
 border-radius: 50%;
 min-width: 0;
 padding: 0;
 color:#fff;
 font-size: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.submit {
  min-height: 70px;
}

.exclude-min-height {
  min-height: unset !important;
}


.normal-height,
.normal-height-primary {
  min-height: 34px;
}

.input-height,
.input-height-primary,
.input-height-secondary {
  min-height: 48px;
}

.primary,
.normal-height-primary,
.input-height-primary {
  background-color: var(--color-prim-turquoise);
  color: white;
}

.primary-navy {
  background-color: var(--color-prim-navy);
  color: white;
}

.secondary,
.input-height-secondary {
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  color: var(--color-prim-navy);
}

.primary:hover,
.normal-height-primary:hover,
.input-height-primary:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.primary-navy:hover {
  background-color: var(--color-prim-navy-hover);
}

.primary:disabled,
.normal-height-primary:disabled,
.input-height-primary:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.primary-navy:disabled {
  background-color: var(--color-prim-navy-hover);
  cursor: default;
}

.secondary:hover,
.input-height-secondary:hover {
  background-color: var(--color-sec-lightivory);
}

.secondary:disabled,
.input-height-secondary:disabled {
  background-color: var(--color-sec-lightivory);
  cursor: default;
}

.tertiary {
  background-color: inherit;
  color: white;
}

.tertiary-blue {
  background-color: inherit;
  color: var(--color-prim-navy);
}

.tertiary:hover {
  opacity: 0.6;
}

.tertiary:disabled {
  cursor: default;
}

/* Used for multi usually */
.round-corners {
  border-radius: 50px;
}

.outlined {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.edit-submit-btn {
  display: inline-block;
}

.edit-cancel-btn {
  margin-left: 5px;
  display: inline-block;
}

.section-container {
  outline: none;
  background-color: inherit;
  font-weight: 400;
  color: var(--color-prim-navy);
  cursor: pointer;
  border-bottom: 3px solid white;
  padding: 0;
}

.section-container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.section-active {
  border-color: var(--color-prim-turquoise);
  font-weight: 600;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-t-20 {
  margin-top: 20px
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.auth-container {
  border-radius: 50px;
  min-height: 35px;
  max-height: 48px;
  padding: 12px 40px;
  color: white;
  text-transform: uppercase;
  background-color: var(--color-prim-turquoise);
  font-weight: 600;
  cursor: pointer;
}

.auth-container:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.auth-container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.nav-container {
  border-radius: 50px;
  height: 48px;
  padding: 12px 40px;
  color: white;
  background-color: var(--color-prim-turquoise);
  font-weight: 600;
  cursor: pointer;
}

.nav-container:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.nav-container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.position-absolute {
  position: absolute;
}

.visibility-hidden {
  visibility: hidden;
}

/* //download button */
.downloadBtn {
  height: 32px;
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #08135e;
  border: 1px solid #dedad4;
  background: #fff;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.actionBtn {
  cursor: pointer;
  background: transparent;
  color: #10bda5;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}


@media screen and (max-width: 1000px) {
  .nav-container {
    min-width: 0;
    font-size: 13px;
    padding: 6px 20px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 8px;
    min-width: fit-content;
  }
}
@media screen and (max-width: 575px) {
  .downloadBtn {
    display: none;
    margin-left: 0;
  }
}
