.container {
  outline: none;
  background-color: inherit;
  font-weight: 400;
  color: var(--color-prim-navy);
  cursor: pointer;
  border-bottom: 3px solid white;
  padding: 0;
}

.container:hover {
}

.container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.active {
  border-color: var(--color-prim-turquoise);
  font-weight: 600;
}
