.root-row{
  position: relative;
  /*background-color: wheat;*/
  margin-top: 81px;
  display: grid;
  grid-template-columns: 1fr 415px;
  gap: 32px;
  height: 100%;
}

.root-row .col-70{
  height: 100%;
}

.container {
  padding: 35px 32px;
  height: 100%;
}

.container ul{
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.title{
  font-size: 22px;
  color: #08135E;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  margin: 8px 0 24px;
}

.asset-list{
  margin-top: 16px;
  padding-bottom: 80px;
  /* border: 1px solid var(--color-border);
  border-radius: 6px; */
  padding: 20px 0;

}

.operation-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper{
  /*margin-left: 80px;*/
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px; 
}


.detail-title{
  margin: 0 0 18px !important;
}

.field-name{
  margin-bottom: 16px !important;
  font-size: 14px;
  color: var(--color-prim-navy);
}

.field-value{
  font-size: 14px !important;
}

.right-panel{
  border-left: solid 1px #E5E5E5;
}

.modal-wrapper{
  width: 75vw;
  max-width: 1385px;
  padding: 64px 32px;
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 60px;
}

.modal-field-title{
  font-weight: 600;
  font-size: 22px;
  color: var(--color-prim-navy);
  margin-bottom: 16px;
  margin-top: 0;
}

.thanksSubmit {
  font-weight: 400;
  font-size: 14px;
}

.modal-field-subtitle{
  font-weight: 600;
  font-size: 16px;
  color: var(--color-sec-text);
  margin: 16px 0;
}

.confirm-modal-wrapper{
  /* padding: 49.63px 57px; */
  position: relative;
  padding: 27.63px 26px;
}

.sendConfirmModal [role="dialog"] .confirm-modal-wrapper{
  padding: 49.63px 57px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .confirm-modal-wrapper {
    padding: 27.63px 26px;
  }
  .sendConfirmModal [role="dialog"] .confirm-modal-wrapper{
    padding: 33px 44px;
  
  }
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 13px;
  cursor: pointer;
}


.keep-edit-btn{
  margin-right: 16px;
}

.asset-grid-info-wrapper{
  display: flex;
  justify-content: space-between;
}

.asset-grid-text-wrapper{
  width: calc(100% - 25px)
}

.asset-grid-text-wrapper-2-icon{
  width: calc(100% - 50px)
}

.menu {
  display: none;
}

.menu-icon{
  width: 20px;
  height: auto;
  margin-bottom: 20px;
}

.grid-list{
  grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
}



@media screen and (max-width: 900px) {
  .container {
    padding: 17.5px 16px;
  }

  .modal-wrapper{
    grid-template-columns: 1fr 40%;
  }

  h2.detail-title {
    font-size: 14px;
    line-height: 18px;
  }
}

.col-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button-wrapper .approval-text{
  color: white;
  background-color: #10BDA5;
  padding: 11px 6px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.button-wrapper-displaced {
  margin-right: 1rem;
}

.options-list {
  display: flex;
  z-index: 10000;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.options-list li:first-child .option {
  border: 1px solid var(--color-border);
  border-radius: 6px 0px 0px 6px;
}

.options-list li:nth-child(2) .option {
  border-width: 1px 0px;
  border-style: solid;
  border-color:  var(--color-border);
}

.options-list li:last-child .option {
  border: 1px solid var(--color-border);
  border-radius: 0 6px 6px 0;
}


.options-list.regular {
  bottom: 1rem;
}

.options-list.dropdown {
  right: 0;
  z-index: auto;
}

.option {
  background-color: white;
  width: 106px;
  height: 92px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.option-label {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5rem;
}

.option-text {
  color: var(--color-sec-blue);
  font-size: 12px;
  margin-top: 0.2rem;
}


.option .icon {
  width: 25px;
  height: 25px;
}

.back {
  margin-right: 0.3rem;
  color: var(--color-sec-ivory);
  font-size: 25px;
  font-family: monospace;
  cursor: pointer;
}

.additional-folder-wrapper {
  position: relative;
  z-index: 9;
}

.additional-folder-wrapper h4 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.options-list.dropdown {
  right: 0;
  flex-wrap: nowrap;
}

.navigation-wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation-wrapper span{
  font-weight: 400;
  font-size: 14px;
  color: #AEB0C2;
  margin-right: 22px;
}

.navigation-wrapper img{
  margin-right: 16px;
  width: 14px !important;
}

.left-bar{
  max-height: calc(100% - 200px);
}

.left-bar img{
  width: 100%;
  height: auto;
  max-width: fit-content;
}

.left-bar video{
  width: 100%;
  height: auto;
  max-height: 100%;
}

.right-form{
  padding: 0;

}

.file-name{
  font-weight: 400;
  font-size: 14px;
  color: #08135E;
  margin-bottom: 4px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.date{
  font-weight: 400;
  font-size: 12px;
  color: #AEB0C2;
  margin-bottom: 10px;
}

.edit-icon{
  width: 15px !important;
  margin-left: 10px;
}

.previous-item:not(:last-child) {
  margin-bottom: 44px;
}

.previous-item-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
}  


.previous-thumbnail {
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 4px;
}

.previous-thumbnail img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.previous-name {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 13px;
  word-break: break-all;
}

.previous-status {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 300;
}

.previous-date {
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
}

.previous-info-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.divider {
  margin: 16px 0;
  border: 1px solid var(--color-border);
}

.batch-outer {
  padding: 0;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .options-list.dropdown {
    width: calc(160px * 3);
    z-index: 400;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .navigation-wrapper{
    justify-content: center;
  }
  .confirm-action{
    display: flex;
    flex-direction: column;
    max-width: 121px;
    margin: 0 auto;
  }
  .confirm-action button{
    margin: 5px 0;
  }
  .options-list.dropdown {
    width: calc(160px * 2);
  }

  .asset-list {
    padding: 10px;
  }

  .root-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 55px;
    gap: 24px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sec-lightivory);
    padding: 16px;
    width: 70px;
  }

  .right-panel {
    position: absolute;
    z-index: 9999;
    background-color: white;
    right: 70px;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .grid-list{
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .button-wrapper {
    position: fixed;
    background-color: var(--color-prim-navy);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    height: 42px;
  }

  .modal-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 40px 32px;
    gap: 32px;
  }
}

@media screen and (max-width: 380px) {
  .options-list.dropdown {
    width: 100%;
    justify-content: space-between;
  }
  .options-list.dropdown li {
    width: calc(100% / 3);
  }
  .option {width:auto;text-align: center;}
}

.batchSubModal {
  border: none;
  margin-top: 2px;
  padding-top: 0;
}

.batchImg {
  text-align: center;
}

.batchSidePanel {
  display: flex;
  flex-direction: column;
}
.batchSidePanel input {
  height: 48px;
}

.sendMsgModal {
  align-items: center;
  padding-top: 20px;
}

@media screen and (min-width: 1024px) {  
  .sendMsgModal [role="dialog"] {
    min-width: 555px;
  }
  .sendConfirmModal [role="dialog"]{
     min-width: 791px;
  }
}