.container{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
}

.container>div{
  width: 20%;
}


@media screen and (max-width: 600px){
  .container{
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-secondary-border);
  }

}