.csvBtn{
    height: 32px;
    padding:8px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color:#08135E;
    border:1px solid #DEDAD4;
    background: #fff;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}