.main-wrapper h3 {
    margin: 0 0 36px;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-15{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-20{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-35{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;

    position: relative;
    width: 100%;
    min-height: 1px;
}


.col-40{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-100{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.action-button{
    width:21px;
    height: 21px;
    margin-left: 1.2rem;
}

.action-button:last-of-type{
    margin-right: 1.2rem;
}

.action-button:hover{
    opacity: 0.5;
}

.button-row{
    display: flex;
    align-items: center;
}

.flex-display{
    display: flex;
    vertical-align: center;
}

.row-header{
    margin: 0 0 32px 0;
    display: block;
    border-bottom: solid 1px #dddad4;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.font-weight-600{
    font-weight: 600;
    margin-right: 5px;
}

.field-block{
    margin-bottom: 75px;
}

.tag-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tag-item{
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.tag-item-text{
    font-weight: normal;
    margin-right: 10px;
    font-size: 13px;
}

.close-modal-btn{
    position: absolute;
    right: 10px;
    top: 0;
}

.confirm-modal-text{
    padding-top: 30px;
}


@media screen and (max-width: 900px){
    .col-md-100{
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px 0;
    }

    .field-block{
        margin-bottom: 50px;
        border-bottom: solid 2px #eae8e4;
        padding-bottom: 30px;
    }

    .button-row{
       justify-content: center;
    }
}


@media screen and (min-width: 901px) {
    .p-l-30{
        padding-left: 30px;
    }
    
}