.main-wrapper h3 {
    margin: 0 0 36px;
}
.Tags-wrapper{
    border-bottom: 1px solid var(--color-border);
    padding: 0 60px 67px 60px;
}
.collection-management-wrapper{
    padding: 0 60px;
}
.emptyBox{
  width: 24px;
  height:24px;
}
.operation-row {
    align-items: center;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.attribute-operation{
    margin-top: 24px !important;

}

.tag-select {
    width: 200px;
}

.campaign-select {
    width: 250px;
}

.sort-select {
    min-width: 150px;
    max-width: 200px;
    margin-left: auto;
    font-size: 12px;
}

.search-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.search-column-1 {
    max-width: 356px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.search-column-2 {
    max-width: 356px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.search-column-3 {
    max-width: 356px;
    position: relative;
    width: 100%;
    min-height: 1px;
}



.tag-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 25px;
}

.tag-item {
    display: flex;
    align-items: center;
    margin: 12px 5px;
    cursor: pointer;
}

.tag-item-text {
    font-weight: normal;
    margin-right: 5px;
    font-size: 13px;
}



.edit-input {
    width: auto;
    min-height: auto;
    display: inline-block;
    margin-right: 10px
}


.edit-submit-btn {
    display: inline-block;
}

.edit-cancel-btn {
    margin-left: 5px;
    display: inline-block;
}

.close-modal-btn {
    position: absolute;
    right: 10px;
    top: 0;
}

.confirm-modal-text {
    padding-top: 30px;
}
.Editattrubute{
    display: flex;
    align-items: center;
}
.attribute-wrapper{
    display: flex;
    align-items: center;
}
.dropdown-icon{
    width: 24px;
    height:24px;

}
.attribute-tag-list{
    width: 100%;
    border-bottom: 1px solid #DEDAD4;
    margin: 0;
   

}
.outer-wrapper{
    display: flex;
    flex-direction: column;
    padding:14px 0 10px 0;
  
    
}
.sublist-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top:8px;
    gap:16px;
    margin-left:27px;
}
.subList{
    margin-left:0px;
    
}
.sublist-outer{
    display: flex;
    align-items: center;
    
}
.addButton{
    display: flex;
    align-items: center;
}
.attribute-add-subcollection{
    display: flex;
    align-items: center;
    color:
    #10BDA5;
    font-weight: 500;
    font-size: 14px;

}

/*Media queries*/
@media screen and (max-width: 900px) {

    .search-row {
        flex-direction: column;
    }

    .search-column-1 {
        max-width: 100%;
    }

    .search-column-2 {
        max-width: 100%;
    }

    .search-column-3 {
        max-width: 100%;
    }
}