.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 1rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
  font-size: 14px;
  font-weight: 500;
}

.name-email>div:first-child{
  font-weight: 600;
}

.name-email, .role, .date, .files, .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-email {
  width: 11%;
}

.company {
  width: 24%;
}

.date, .storage, .btn, .role, .files {
  width: 10%;
}

.files {
  width: 5%;
}

.company>div:first-child{
  font-weight: 600;
}

.no-comp{
  color: var(--color-sec-blue);
}
