.container {
  display: flex;
  padding: 1rem 0;
  margin-top: 1rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
}

.name-email>div:last-child, .role, .company, .date {
  font-weight: 500;
}

.email {
  margin-right: 10px;
  font-size: 12px;
  overflow: hidden;
}

.name-email {
  width: 250px;
}

.name-email>div:first-child{
  font-weight: 600;
}

.centered-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.role{
  width: 150px;
}

.company{
  flex: 2;
}

.date {
  flex: 1;
}

.no-comp{
  color: var(--color-sec-blue);
}