.container {
  width: 100%;
}

.header-row, .project-row{
  display: flex;
  flex-wrap: wrap;
}

.header-row>div, .project-row>div{
  padding: 20px;
  padding-left: 0;
  width: 18%;
}

.project-row{
  border-bottom: 1px solid var(--color-secondary-border);
}

.header-row>div {
  border-bottom: 3px solid var(--color-sec-lightivory);
  color: var(--color-prim-turquoise);
}

.project-row>div{
  cursor: pointer;
}

.text-selected {
  color: var(--color-prim-navy);
}
.text-placeholder {
  color: var(--color-sec-text);
}

.button-container {
  width: 50px;
}

.day-picker {
  position: absolute;
  border: 1px solid var(--color-secondary-border);
  z-index: 500;
  background-color: white;
  border-radius: 10px;
}
.collaborators-dropdown{
  position: absolute;
  z-index: 100;
}

.collaborator-list {
  display: flex;
  flex-wrap: wrap;
}

.collaborator-list li {
  margin-right: 0.7rem;
}

.input-name {
  border: none;
  color: var(--color-prim-navy);
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .header-row{
    display: none;
  }
  
  .header-row>div, .project-row>div{
    width: 250px;
  }
}