.outer-wrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:10px;
 
}
.inner-wrapper{
    border:1px solid 
    #DEDAD4;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}
.arrow-down{
    margin-left: 7px;
}
.tag-wrapper{
    display: flex;
    flex-direction: row;
}