.container{
    padding: 32px 50px;
    text-align: center;
}

.title{
    color: var(--primary-color);
    font-size: 22px;
    margin-top: 40px;
}

.sub-title{
    color: #817D9D;
    font-size: 14px;
    margin-top: 12px;
}

.close {
    width: 21px;
    height: auto;
    font-weight: 700;
    color: var(--color-sec-blue);
    cursor: pointer;
}

.header{
    width: 100%;
    padding: 21px 24px;
    text-align: right;
}

.overlay-modal{
    z-index: 99999;
}