.modal {
  /*min-width: calc(100vw - 65%);
   min-height: calc(100vw - 65%); */
  max-width: calc(100vw - 10%);
  max-height: calc(100vh - 20%);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* top: 20%;
  left: 30%;
  right: 30%; */
  background: white;
  border: 1px solid var(--color-secondary-border);
  width: fit-content;
  height: fit-content;
}

.no-height-max {
  max-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .modal {
    /* max-width: 80vw; */
    max-height: 80vh;
  }
}

.overlay {
  position: fixed;
  z-index: 999999;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--color-secondary-border);
  font-size: 17px;
  min-width: 35rem;
  width: 100%;
  align-items: center;
}

.text p {
  flex: 1;
  margin: 0;
}

.text span {
  display: inline-flex;
}

.full-width {
  width: 100% !important;
}

.close {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-sec-blue);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.button {
  width: 100%;
  max-width: 150px !important;
  margin: 7px 0px;
}

.buttons>div {
  margin-left: 5px;
}

.overflow-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-border {
  border-bottom: none;
}

.input {
  width: 358px;
  margin: 0px 10px 0px 0px;
}

.paragrap {
  padding: 0px 10px 0px 0px;
}

.div {
  width: 368px;
}

.padding_div {
  display: flex;
  padding: 28px 0px;
}

.header_checkbox {
  display: flex;
}

@media screen and (max-width: 500px) {
  .text {
    min-width: 100%;
  }

  .save_button {
    margin-left: 0px !important;
  }

  .input {
    width: 100% !important;
  }

  .button {
    display: block;
    margin-top: 10px;
    width: 100% !important;
  }

  .div {
    width: 100% !important;
  }

  .disaplay_box {
    display: block !important;
  }

  .padding_div {
    display: block !important;
    padding: 28px 0px !important;
  }

  .margin_t {
    margin-top: 10px !important;
  }

  .header {
    display: block !important;
  }

  .checkbox4 {
    padding: 16px 0px;
    font-size: 14px;
  }

  .checkbox1 {
    padding: 5px 0px !important;
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .text {
    min-width: 100%;
  }

  .button {
    width: 100% !important;
  }

  .div {
    width: 52%;
  }

  .input {
    width: 50%;
  }

  .save_button {
    margin-left: 30px;
  }

  .header_checkbox {
    display: flex;
    flex-direction: column;
  }

  .checkbox1 {
    padding: 0px !important;
  }

  .modal input[role="combobox"] {
    width: 100%;
  }
}

.img_file {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  padding: 10px;
}

.preview {
  display: flex;
}

.preview label {
  padding-top: 36px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.disaplay_box {
  display: flex;
}

.margin_t {
  margin-top: 27px;
}

.deleteIcon {
  padding: 11px;
  cursor: pointer;
  max-width: 36px;
}

.disaplay_box_item {
  padding: 2px 0px;
  cursor: pointer;
  padding: 3px 12px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disaplay_box_item:hover {
  background: #ede0d3;
}

.imgicon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
}

.heading {
  padding: 0px 8px;
  position: relative;
  top: -10px;
}

.imgicon>.icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 5px !important;
}

.icon {
  width: 5rem !important;
  padding: 10px !important;
}

.header {
  display: flex;
}

.checkbox4 {
  padding: 16px 0px;
  font-size: 14px;
}

.checkbox1 {
  padding: 16px;
  font-size: 14px;
}

.row-div {
  display: flex;
}

.or-class {
  padding: 14px;
}

.m4 {
  margin: 6px 5px;
  background: #ffffff;
  border: 1px solid #dedad4;
  border-radius: 4px;
  font-weight: 500;
  color: #08135e;
  font-weight: 500;
}

.mr {
  margin: 7px 10px;
}

.cancel {
  background: #ffffff;
  border: 1px solid #dedad4;
  border-radius: 4px;
  font-weight: 500;
  color: #08135e;
  font-weight: 500;
}

.wrapper {
  width: auto !important;
}

.modal input[role="combobox"] {
  background: #faf8f5;
  border: 1px solid #dedad4;
  border-radius: 4px;
}

.custom_button {
  background: #ffffff;
  border: 1px solid #dedad4;
  border-radius: 4px;
  font-weight: 500;
  color: #08135e;
  font-weight: 500;
}

.custom_button:hover {
  background: #ffffff;
  border: 1px solid #dedad4;
  border-radius: 4px;
  font-weight: 500;
  color: #08135e;
  font-weight: 500;
}