.list {
  overflow-y: auto;
  max-height: 380px;
}

.list li {
  cursor: pointer;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--color-secondary-border);
  align-items: center;
}
.emptyBox{
  width: 13px;
  height:13px;
}

.list li img:nth-child(1), .list li svg:nth-child(1){
    width: 16px;
}

.list li img:nth-child(2), .list li svg:nth-child(2) {
    width: 16px;
}

.list li:last-child {
  border-bottom: none;
}

.list li:hover,
.list li.selected {
    background-color: var(--additional-color);
}

.name {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 12px;
}

.folder-wrapper {
  padding: 20px 20px 5px 20px;
}

.folder-wrapper button {
  margin-left: 1rem;
}

.folder-wrapper form {
  display: flex;
  align-items: center;
}

.folder-wrapper form>div {
  margin-right: 0.5rem;
}

.folder-wrapper .create-new {
  cursor: pointer;
  font-weight: bold;
}

.folderMoveIcon {
  width: 16px;
  height: 16px;
}

.select-icon {
  width: 16px;
  height: auto;
  margin-right: 15px;
}
.search-btn {
  padding: 0 16px 16px 16px;
 
}

.collection-modal {
  padding: 16px;
}

.modal-heading{
  padding: 0 16px 16px 16px;

 

}
.modal-heading span {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.flex {
  display: flex;
  align-items: center;
}
.dropdownMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 7.5px;
}
.heading-border{
  border-bottom: 1px solid #E9EEFA;
  padding-bottom:8px;

}


.w100 {
  width: 100%;
}
.rightIcon {
  margin-right: 5px;
  transform: rotate(275deg);
  cursor: pointer;
}
.nestedbox {
  margin-bottom: 8px;
  padding: 0px 4px;
 
}
.nestedbox:hover{
  background: var(--color-sec-lightblue);
  cursor: pointer;
  /* padding: 4px; */
}
.list1-right-contents{
  display: none;

}
.nestedbox:hover .list1-right-contents {
  display: block;
}


.icon-descriptions {
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative; 
}



.icon-descriptions span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--color-prim-navy);
  margin-left: 5px;
}

.active {
  background: #e9eefa;
}


.folder {
  padding: 0 24px 0 24px;
}
.folder-lists {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  height: 30px;
  /* margin-top: 16px; */
}

.dropdownIcons {
  display: flex;
}
.rightIcon {
  margin-right: 5px;
  transform: rotate(0deg);
  width: 11px;
  cursor: pointer;
}
.iconClick {
  transform: rotate(91deg);
  margin-right: 5px;
  width: 11px;
  cursor: pointer;
}
.dropdownOptions {
  /* margin-top: 16px; */
  position: relative;
  padding: 4px;
}
.dropdownOptions:hover{
  background: var(--color-sec-lightblue);
  padding: 4px;
  
  
}
.dropdownOptions::before {
  content: "";
  display: inline-block;
  background-image: url("../../../assets/Icons/Utilities/nestedCollection/Line.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -16px;
  bottom: 14px;
  width: 100%;
  height: 1px;
}
.active {
  background: var(--color-sec-lightblue);
  border-radius: 4px;
  /* padding: 7.5px; */
}
.subfolderList {
  padding: 0px 0px 0px 16px;
  border-left: 1px solid #dedad4;
}
.modal-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.outer-wrapper{
  padding: 0 16px;
  overflow: auto;
 
}
.moveModal{
  max-width: 407px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;

}
.moveModal > div{
  border-bottom: none;
}

.selectText{
  margin-left:10px;
  font-size: 13px;
  font-weight: 400;
}
.deselectText{
  color:
  #FA373D;
  margin-left:10px;
}
.loadMore{
  background: transparent;
  color:
  #10BDA5;
  
}
.circle {
width: 16px;
height: 16px;
background-color: #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition:
  background-color 0.3s,
  color 0.3s;
border: 1px solid #a1a09e;
}
.checkIcon {
font-size: 24px;
color: white;
display: none;
border: 1px solid #dedad4;
}

.checked {
background-color: #dedad4;
}
.select-all{
  display: flex;
  align-items: end;
}
.deselect-all{
  display: flex;
  align-items: end;
}
.load-wrapper{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.loadIcon{
  width: 18px;
}
.height{
height:20px;
display: flex;
align-items: center;
cursor: pointer;
}
.collection-btn{
background: none;
cursor: pointer;
color: #10BDA5;
}
.move-modal-outer{
padding-top: 140px;

}
.icon-descriptions span {
  position: relative;
}

.icon-descriptions span::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.icon-descriptions span:hover::before {
  display: block;
}

