.list {
    overflow-y: auto;
    max-height: 380px;
}

.list li {
    cursor: pointer;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--color-secondary-border);
    align-items: center;
}

.list li img:nth-child(1), .list li svg:nth-child(1){
    width: 16px;
}

.list li img:nth-child(2), .list li svg:nth-child(2) {
    width: 16px;
}

.list li:last-child {
    border-bottom: none;
}

.list li:hover,
.list li.selected {
    background-color: var(--additional-color);
}

.name {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 12px;
}

.folder-wrapper {
    padding: 20px 20px 5px 20px;
}

.folder-wrapper button {
    margin-left: 1rem;
}

.folder-wrapper form {
    display: flex;
    align-items: center;
}

.folder-wrapper form>div {
    margin-right: 0.5rem;
}

.folder-wrapper .create-new {
    cursor: pointer;
    font-weight: bold;
}

.folderMoveIcon {
    width: 16px;
    height: 16px;
}

.select-icon {
    width: 16px;
    height: auto;
    margin-right: 15px;
}