.input-wrapper{
    padding: 16px 28px;
}

.save-wrapper{
    padding: 0 calc(2rem + 8px);
    justify-content: flex-end;
    display: flex;
}

.radio-button-wrapper{
    display: flex;
    align-items: center;
}
.radio-button-wrapper img {
    width: 14px;
}

.row-field-content{
    padding-left: 15px;
}

.field-radio-wrapper{
    display: flex;
}

.title{
    margin-bottom: 15px;
    font-weight: 600;
}

.spinner{
    margin: 15px auto;
    display: block;
}

.helper-text {
    font-size: 12px;
    font-weight: 300;
}

@media screen and (min-width: 767px) {
    .shareModal {
        width: 605px;
    }
}