.container {
  position: fixed;
  top: 25px;
  right: 17%;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--color-prim-turquoise);
  color: white;
  max-width: 550px;
  width: 60%;
  z-index: 100;
  min-height: 40px;
}

.center-align{
  display: flex;
  align-items: center;
}

.less-margin-bottom{
  padding: 15px 20px 5px 20px;
}

.no-margin{
  margin-bottom: 0 !important;
}

.underline-text{
  text-decoration: underline;
  font-weight: normal !important;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container{
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}


.row{
  margin-bottom: -7px;
  width: 100%;
}

.row span{
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
  display: inline-flex;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-button{
  position: absolute;
  right: 15px;
  top: 0;
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
}

.fail-text{
  margin-left: 5px;
}
