.data-row{
    /*padding: 30px 0;*/
}

.content {
    padding: 42px 60px;
}

.content h3 {
    background-color: var(--color-sec-lightblue);
    padding: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.ghost-line{
    border-bottom: solid 1px var(--color-secondary-border);
}

.action{
    color: var(--color-sec-text);
    font-size: 12px;
    font-weight: 300;
}

.select-add{
    align-items: center;
    display: flex;
    cursor: pointer;
    gap: 10px;
    color: var(--color-sec-text);
}

.select-add-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 900px)  {
    .content {
      padding: 42px 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .content {
      padding: 42px 16px;
    }
  }