.preferences{
  padding: 42px 60px;
  border-bottom: 1px solid var(--color-secondary-border);
}

.radio-options{
  display: flex;
}

.radio-options>div:last-child{
  margin-left: 3rem;
}

.option>div:first-child{
  margin-bottom: 0.5rem;
}

.divider {
  border-top: 1px solid var(--color-secondary-border);
  margin: 20px 0;
}


@media screen and (max-width: 900px)  {
  .preferences {
    padding: 42px 30px;
  }
}

@media screen and (max-width: 600px) {
  .preferences {
    padding: 42px 16px;
  }
}