.container {
    margin-top: 15px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-item {
    width: 45%;
    display: grid;
    grid-template-columns: 20px auto 20%;
    align-items: center;
    text-align: right;
}

.select-item p {
    text-overflow: ellipsis;
    overflow: hidden;
}


@media screen and (max-width: 800px) {
    .item-list {
        flex-direction: column;
    }

    .select-item {
        width: 100%;
    }

    .item-list .tags-container:nth-last-child(-n + 5) {
        display: none;
    }

    .select-item p {
        font-size: 13px;
    }
}

.one-column {
    flex-direction: column;
}

.one-column .select-item {
    width: 100%;
}

.select-icon {
    display: block;
}

.select-item p {
    margin: 0 5px;
}

.item-name {
    text-align: left;
}

.item-total {
    font-size: 12px;
    color: var(--color-sec-text);
}

.container form {
    margin-top: 20px;
}

.container form img {
    height: 18px;
    width: 18px;
    margin: 17px 10px;
}

.container form input {
    min-height: 50px;
}

.container button {
    display: none;
}

.select-filter {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    position: relative;
}

.any-all-wrapper {
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.any-all-wrapper>div {
    display: flex;
}

.any-all-wrapper>div:first-child {
    margin-right: 17px;
}

.any-all-text {
    margin-left: 5px;
}