.form {
  border-radius: 15px;
  height: 100%;
  /*overflow: scroll;*/
}

.container button {
  margin-top: 18px;
}

.state-country {
  display: flex;
  flex-wrap: wrap;
}

.fields-pair {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
  margin-top: 28px;
}

.fields-pair>div:first-child {
  width: 55%;
  margin-right: 5%;
}

.fields-pair>div:last-child {
  width: 40%;
}

.input {
  margin-top: 5px;
  min-width: 458px !important;
  width: 100%;
  height: 60px !important;
  
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 13px;
 
}
.first-row{
  margin-top: 82px;
}

.row>div {
  width: 100%;
}

.form_button {
  text-align: center;
  margin-top: 34px;
}
.formBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.fileHeading{
  font-weight: 600;
  font-size: 32px;
  border-bottom: 1px solid #DEDAD4;
  border-top: 1px solid #DEDAD4;
  padding: 20px;
  margin-top:55px;

}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}




@media screen and (max-width: 900px) {
  .row {
    grid-template-columns: 1fr;
  }
}