.container {
    position: relative;
    min-height: 60vh;
    padding: 60px;
}

.wrapper {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    max-width: 1052px;
    margin: 0 auto;
    padding: 48px 58px 130px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.upload_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 64px;
}

.guest_info {
    color: var(--color-sec-text);
    font-size: 16px;
    margin-bottom: 34px;
}

.guest_info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}

.edit ,
.cancel {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-prim-navy);
    text-align: end;
}

.email {
    margin-bottom: 34px;
}

.message {
    max-width: 580px;
}

.list-wrapper{
    width: 100%;
    max-width: 1800px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}


.success-row{
    display: flex;
    padding: 10px 0;
}

.success-text{
    color: var(--color-nav);
    font-size: 16px;
}

.upload-more-text{
    padding-bottom: 0;
    margin-top: 60px;
    font-size: 12px;
}

.footer {
    margin-top: 28px;
}

.footer p{
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.footer_link {
    color: #0083CD;
}

.form {
    margin-bottom: 54px;
}

.form_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 24px;
}

.form_name_row > div {
    width: 100%;
}

.form label {
    font-size: 16px;
    margin-bottom: 16px;
    display: block;
}

.form_button {
    text-align: center;
    margin-top: 34px;
}


.button-wrapper {
    position: relative;
}

.button-wrapper-displaced {
    margin-right: 1rem;
}

.upload_area {
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    padding: 44px 0;
}

.options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.options-list.regular {
    bottom: 1rem;
}

.options-list.dropdown {
    right: 0;
}

.option {
    background-color: white;
    /* border-right: none; */
    width: 202px;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.option-label {
    font-weight: 400;
    margin-top: 10px;
    font-size: 16px;
}

.option-text {
    color: var(--color-sec-blue);
    font-size: 12px;
    margin-top: 8px;
}

.option:first-child {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: 8px 0px 0px 8px;
}

.option:last-child {
    border-radius: 0px 8px 8px 0px;
    border: 1px solid var(--color-border);
}

.option .icon {
    width: 34px;
    height: 34px;
}

.option_helpertext {
    font-size: 16px;
    text-align: center;
    color: var(--color-sec-text);
    margin-top: 38px;
}

.back {
    margin-right: 0.3rem;
    color: var(--color-sec-ivory);
    font-size: 25px;
    font-family: monospace;
    cursor: pointer;
}

.additional-folder-wrapper {
    position: relative;
}

.additional-folder-wrapper h4 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.options-list.dropdown {
    right: 0;
    flex-wrap: nowrap;
}

.file-upload-row{
    padding: 10px 5px;
}

.file-list-wrapper {
    border: solid 1px var(--color-secondary-border);
    padding: 23px 32px;
    border-radius: 15px;
    max-height: 355px;
    height: 100%;
    overflow-y: scroll;
    margin-top: 32px;
}

.file-list-wrapper::-webkit-scrollbar {
  width: 10px;
}

.file-list-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.file-list-wrapper::-webkit-scrollbar-thumb {
    background: var(--color-sec-blue);
    border-radius: 19px;
    height: 68px;
}

/* Handle on hover */
.file-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--color-sec-text);
}

.file-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.files_count {
    font-size: 18px;
    font-weight: 500;
}

.file-list {
    max-width: 288px;
    margin: 0 auto;
}

.upload_button {
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid var(--color-prim-turquoise);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-prim-turquoise);
    cursor: pointer;
}

.upload_button img {
    width: 28px;
    height: 28px;
}

.link{
    color: var(--color-prim-blue);
}

.success .subtitle {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .options-list.dropdown {
        width: calc(160px * 3);
        z-index: 400;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {

    .container {
        padding: 40px 35px;
    }

    .wrapper {
        max-width: 100%;
    }

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 44px;
    }

    .form {
        margin-bottom: 46px;
    }

    .form label {
        font-size: 14px;
    }

    .form_row {
        grid-template-columns: 1fr;
    }

    .upload_title {
        font-size: 18px;
    }

    .upload_area {
        padding: 23px 0;
    }

    .guest_info {
      font-size: 12px;  
    }

    .guest_info_row {
        margin-bottom: 16px;
    }

    .email {
        margin-bottom: 16px;
    }

    .edit,
    .cancel {
        font-size: 14px;
    }

    .option_helpertext {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .options-list.dropdown {
        width: calc(160px * 2);
    }

    .container {
        position: relative;
        min-height: 60vh;
        padding: 28px 20px;
    }
    .wrapper {
        padding: 40px 16px 64px;
    }

    .options-list {
        flex-direction: column;
    }

    .option {
        width: 140px;
        height: 120px;
    }
    .option:last-child {
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: var(--color-border);
        border-radius: 0 0 8px 8px;
    }

    .option:first-child {
        border: 1px solid var(--color-border);
        border-radius: 8px 8px 0 0;
    }

    .option .icon {
        width: 24px;
        height: 24px;
    }

    .option-label {
        margin-top: 7px;
    }

    .upload_button {
        font-size: 12px;
        padding: 4px 16px;
    }
    
    .upload_button img {
        width: 18px;
        height: 18px;
    }

    .file-list-wrapper {
        padding: 23px 16px;
    }
    .files_count {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .options-list.dropdown {
        width: 160px
    }
}

