.file-upload-row {
    padding: 10px 5px;
}

.file-icon{
    margin-right: 10px;
    width: 28px;
    height: 24px;
}

.check-icon{
    float: right;
    margin-left: auto;
}

.file-name{
    white-space: nowrap;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-sec-text);
}
