.root-row{
  position: relative;
  /*background-color: wheat;*/
  display: flex;
  gap: 32px;
  margin-top: 81px;
  min-height: 100%;
}

.container {
  padding: 35px 32px;
  height: 100%;
  width: 100%;
}

.container ul{
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.pre-title {
  font-size: 12px;
  color: var(--color-sec-text);
  cursor: pointer;
}

.title{
  font-size: 20px;
  color: #08135E;
  font-weight: 600;
}

.main-title{
  font-size: 18px;
  color: var(--color-prim-navy);
  font-weight: 500;
}

.main-subtitle{
  font-weight: 400;
  font-size: 12px;
  color: var(--color-sec-text);
}

.asset-list{

}

.asset-view-list{
  border: 1px solid var(--color-border);
  padding: 20px;
  border-radius: 6px;
}

.grid-list{
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
}

.operation-wrapper{
  display: flex;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}

.header_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}


.button-wrapper button:last-child{
  margin-right: 0;
}

.detail-title{
  margin-bottom: 18px;
}

.field-name{
  margin-bottom: 9px !important;
  font-size: 14px;
  color: var(--color-prim-navy);
}

.field-value{
  font-size: 14px !important;
}

.field-comments {
  color: var(--color-sec-text);
  margin-top: 18px;
}

.comment {
  font-size: 12px;
  color: var(--color-sec-text);
}

.add-tag-btn{
  margin-bottom: 32px;
}

.menu {
  display: none;
}

.menu-icon{
  width: 20px;
  height: auto;
  margin-bottom: 20px;
}


.right-panel {
  border-left: solid 1px #E5E5E5;
  width: 415px;
}

.modal-wrapper{
  width: 75vw;
  max-width: 1385px;
  padding: 64px 32px;
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 60px;
}

.modal-field-title{
  font-weight: 400;
  font-size: 16px;
  color: var(--color-prim-navy);
  margin-bottom: 20px;
  margin-top: 0;
}

.modal-field-subtitle{
  font-weight: 600;
  font-size: 16px;
  color: var(--color-sec-text);
  margin: 16px 0;
}

.confirm-modal-wrapper{
  padding: 55px 48px;
}

.keep-edit-btn{
  margin-right: 16px;
}

.admin-button-wrapper{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.admin-button-wrapper button{
  margin-right: 16px;
}

.filter-wrapper{
  display: flex;
  justify-content: flex-end;
  width: 175px;
}

.filter-input{
  max-width: 185px;
}

.label_info h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-prim-navy);
  margin: 42px 0 8px;
}

.label_info p {
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 17.5px 16px 80px;
  }

  .modal-wrapper{
    grid-template-columns: 1fr 40%;
  }

  h2.detail-title {
    font-size: 14px;
    line-height: 18px;
  }
}

.col-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-wrapper .approval-text{
  color: white;
  background-color: #10BDA5;
  padding: 11px 6px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.button-wrapper-displaced {
  margin-right: 1rem;
}

.options-list {
  display: flex;
  z-index: 10000;
  flex-wrap: wrap;
  justify-content: center;
}

.options-list.regular {
  bottom: 1rem;
}

.options-list.dropdown {
  right: 0;
}

.option {
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  /* border-right: none; */
  width: 10rem;
  height: 8em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.option-label {
  font-weight: 500;
  margin-top: 0.5rem;
}

.option-text {
  color: var(--color-sec-blue);
  font-size: 12px;
  margin-top: 0.2rem;
}

.option:last-child {
  border-right: 1px solid var(--color-secondary-border);
}

.option .icon {
  width: 25px;
  height: 25px;
}

.back {
  margin-right: 0.3rem;
  color: var(--color-sec-ivory);
  font-size: 25px;
  font-family: monospace;
  cursor: pointer;
}

.additional-folder-wrapper {
  position: relative;
  z-index: 9;
}

.additional-folder-wrapper h4 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.options-list.dropdown {
  right: 0;
  flex-wrap: nowrap;
}

.navigation-wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 36px;
}

.navigation-wrapper span{
  font-weight: 400;
  font-size: 14px;
  color: #AEB0C2;
  margin-right: 22px;
}

.navigation-wrapper img{
  margin-right: 16px;
  width: 14px !important;
}

.left-bar{
  max-height: calc(100% - 200px);
}

.left-bar img{
  width: 100%;
  height: auto;
  max-height: 100%;
}

.left-bar video{
  width: 100%;
  height: auto;
  max-height: 100%;
}

.right-form{
  padding: 0;
}

.file-name{
  font-weight: 400;
  font-size: 14px;
  color: #08135E;
  margin-bottom: 4px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.date{
  font-weight: 400;
  font-size: 12px;
  color: #AEB0C2;
  margin-bottom: 10px;
}

.edit-icon{
  width: 15px !important;
  margin-left: 10px;
}

.tag-wrapper{
  border-radius: 10px;
  padding: 2px 16px;
  width: fit-content;
  margin-top: 8px;
}

.green{
  background: rgba(16, 189, 165, 0.5);
}

.yellow{
  background: rgba(250, 231, 197, 0.5);
}

.red{
  background: #FAE0F1;
}

.tag-wrapper span{
  font-size: 12px;
  color: #08135E;
}

.asset-grid-info-wrapper{
  display: flex;
  justify-content: space-between;
}

.asset-grid-text-wrapper{
  width: calc(100% - 25px)
}

.asset-grid-text-wrapper-2-icon{
  width: calc(100% - 50px)
}

.icon-wrapper{

}

@media screen and (max-width: 1200px) {
  .options-list.dropdown {
    width: calc(160px * 3);
    z-index: 400;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .options-list.dropdown {
    width: calc(160px * 2);
  }

  .filter-wrapper {
    display: none;
  }

  .asset-view-list{
    padding: 10px;
  }

  .header {
    margin-bottom: 28px;
  }

  .header_buttons {
    position: fixed;
    background-color: var(--color-prim-navy);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }


  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-sec-lightivory);
    padding: 16px;
    width: 70px;
  }
  
  .right-panel {
    position: absolute;
    z-index: 999;
    width: auto;
    background-color: white;
    right: 70px;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .root-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 55px;
    gap: 24px;
    height: 100%;
  }

  .grid-list{
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .pre-title {
    font-size: 11px;
  }

  .main-title {
    font-size: 12px;
  }

  .main-subtitle {
    font-size: 11px;
  }

  .modal-wrapper {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 40px 32px;
    gap: 32px;
  }

}

@media screen and (max-width: 380px) {
  .options-list.dropdown {
    width: 160px
  }
}
