.field-content{
    margin-top: 35px;
}

.field-radio-wrapper{
    display: flex;
}

.radio-button-wrapper{
    display: flex;
    align-items: center;
}

.field-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.field-title{
    font-weight: 600;
    margin-top: 25px;
    display: block;
}

.custom-field-wrapper{
    margin-left: 2rem
}

.custom-field-row{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #ededed;
}
