.listHeader{
    width: 100%;
    height:40px;
    background:#E9EEFA; 
    padding: 10px;
  }
  
  .list-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
  }
  .listWrapper{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns:  40% 30% 20% 10%;
  }
  .listWrapper span{
    color:#817D9D;
    font-size: 12px;
    font-weight: 500;
    margin-right: 4px;

  }
  .listWrapper img{
    cursor: pointer;
  }
  .headContent{
    display: flex;
    align-items: center;
  }

  @media (max-width:475px){
    .headContent3{
      display: none;
    }
    .listWrapper{
     
      grid-template-columns:  50% 25% 25%;
    }


  }