.main-wrapper {
    width: 70%;
}
.guest-upload-wrapper{
    padding: 0 60px;
}

.main-wrapper h3 {
    margin: 0 0 30px;
    font-weight: 600;
}
.guestUploadLink{
    max-width: 571px !important;
    width: 100%;
    height:50px;
    
}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    border-bottom: 1px solid var(--color-secondary-border);
}

.item > input {
    max-width: 570px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    width: 100%;
    align-items: center;
}

.item_title {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
}

.input {
    width: 300px;
}


.input ul li {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
}

.input label {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-bottom: 8px;
}

.banner label {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin-bottom: 20px; 
}

.banner_wrapper {
    width: 250px;
    height: 55px;
    padding: 8px 5px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_wrapper img {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 37px;
}

.col-10{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-15{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-20{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-35{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-40{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-45{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-50{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-100{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.action-button{
    width: 21px;
    height: 21px;
}

.action-button:hover{
    opacity: 0.5;
}

.button-row{
    display: flex;
    align-items: center;
}

.flex-display{
    display: flex;
    vertical-align: center;
}

.row-header{
    margin: 0 0 15px 15px;
    display: block;
    padding-bottom: 5px;
    padding-right: 15px;
}

.p-l-30{
    padding-left: 30px;
}

.p-l-0{
    padding-left: 0;
    padding-right: 0;
}

.font-weight-600{
    font-weight: 600;
}

.field-block{
    margin-bottom: 75px;
}

.tag-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tag-item{
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.tag-item-text{
    font-weight: normal;
    margin-right: 10px;
    font-size: 13px;
}

.close-modal-btn{
    position: absolute;
    right: 10px;
    top: 0;
}

.confirm-modal-text{
    padding-top: 30px;
}

.display-none{
    display: none!important;
}

.select-add{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.select-add span{
    color: var(--color-sec-text);
}

.select-add img{
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.operation-row{
    min-height: 48px;
}

.select-input{
}

.select-input .select-prefix{
    min-height: 48px;
}
.copyBtn{
    font-size: 14px;
}

.showBtn{padding: 0;}

@media screen and (max-width: 1280px){

    .main-wrapper {
        width: 100%;
    }

    .button-row{
        display: block;
    }

    .col-md-100{
        flex: 0 0 100%;
        max-width: 100%;
        margin: 15px 0;
    }

    .col-md-80{
        flex: 0 0 80%;
        max-width: 80%;
        margin: 15px 0;
    }

    .col-md-20{
        flex: 0 0 20%;
        max-width: 20%;
        margin: 15px 0;
    }

    .col-md-65{
        flex: 0 0 65%;
        max-width: 65%;
        margin: 15px 0;
    }

    .col-md-35{
        flex: 0 0 35%;
        max-width: 35%;
        margin: 15px 0;
    }

    .field-block{
        margin-bottom: 50px;
        border-bottom: solid 2px #eae8e4;
        padding-bottom: 30px;
    }
}
.privateBlock{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.passwordSave{
    margin:30px 0 10px 45px;
}
.uploadPassword{
    height: 50px !important;
    width: 316px !important;
    border-radius: 4px !important;
}
.password-li img{
   height: 22px;
   width: 22px;
}
@media screen and (max-width: 900px){
    .row {
        flex-wrap: wrap;
    }

    .input {
        width: 260px;
    }

}


@media screen and (max-width: 600px){
    .input {
        width: 170px;
    }

    .select-add {
        justify-content: flex-start;
        margin-bottom: 0;
    }
}