.container {
  padding: 42px 60px;
}

.form {
  display: flex;
  max-width: 40rem;
  align-items: center;
}

.form input {
  flex: 1;
  min-width: 150px;
}

.form .role-select-wrapper {
  min-width: 150px;
  margin: 0 16px;
}


.input {
  min-height: inherit;
}

.button {
  min-height: inherit;
}

.invitationBtn {
  font-size: 14px;
  min-height: inherit;
}

@media screen and (max-width: 630px) {
  .form input {
    margin-bottom: 10px;
  }

  .form .role-select-wrapper {
    margin-bottom: 10px;
  }

  .form button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 477px) {
  .form .role-select-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
}