.align-center{
    align-items: center;
    display: flex;
}

.align-flex-start{
    align-items: flex-start;
    display: flex;
}

.align-self-flex-end{
    align-self: flex-end;
}

.justify-center{
    justify-content: center;
}

.m-t-0{
    margin-top: 0
}

.m-t-10{
    margin-top: 10px
}

.m-t-15{
    margin-top: 15px
}

.m-t-20{
    margin-top: 20px
}

.m-t-30{
    margin-top: 30px
}

.m-t-40{
    margin-top: 40px;
}

.m-t-50{
    margin-top: 50px;
}


.m-b-0{
    margin-bottom: 0
}

.m-b-5{
    margin-bottom: 5px;
}

.m-b-8{
    margin-bottom: 8px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-15{
    margin-bottom: 15px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-25{
    margin-bottom: 25px;
}

.m-b-32{
    margin-bottom: 32px;
}

.m-b-6rem{
    margin-bottom: 6rem;
}

.m-r-5{
    margin-right: 5px;
}

.m-r-10{
    margin-right: 10px;
}

.m-r-15{
    margin-right: 15px;
}

.m-r-25{
    margin-right: 25px;
}

.m-r-30{
    margin-right: 30px;
}

.m-l-5{
    margin-left: 5px;
}

.m-l-10{
    margin-left: 10px;
}

.m-l-15{
    margin-left: 15px;
}

.m-l-30{
    margin-left: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.p-t-0{
    padding-top: 0 !important;
}

.p-b-0{
    padding-bottom: 0
}

.m-l-abs-15{
    margin-left: -15px;
}

.p-r-0{
    padding-right: 0
}
.p-l-30{
    padding-left: 30px;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
