/* Search overlay */

.search-container {
    overflow: auto;
    padding: 30px 32px;
}

.search-cont {
    position: relative;
    width: 100%;
}

.search-content {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 107px;
    z-index: 2000;
    background-color: var(--color-sec-lightivory);
    left: 50%;
    transform: translate(-50%);
}

.search-container h2 {
    margin-top: 40px;
    font-weight: 550;
}

.search-top {
    display: flex;
    justify-content: flex-end;
}

.search-actions {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 18px;
    z-index: 2000;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-close:hover {
    opacity: 0.7;
}

.search-filter:hover {
    opacity: 0.7;
}

.search-close img {
    width: 15px;
    height: auto;
}

.search-x {
    font-weight: 900;
    font-family: monospace;
}

.search-content {
    width: 798px;
}

/* Search item */

.search-item {
    align-items: center;
    display: flex;
    padding: 33px 0;
    border-top: 1px solid var(--color-secondary-border);
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
}

.search-item:last-child {
    border-bottom: 1px solid var(--color-secondary-border);
}

.search-item > div {
    margin-right: 15px;
}

.search-item > div:last-child {
    margin-right: 0;
}

.search-name {
    width: 50%;
}

.search-type {
    width: 19%;
}

.search-date {
    width: 17%;
}

.search-time {
    width: 14%;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 810px) {    
    .search-content {
        max-width: 90vw;
        top: 80px;
        right: 50%;
        left: 50%;
    }
}



@media screen and (max-width: 600px) {

    .search-content {
        top: 55px;
        width: 100%;
        max-width: 100vw;
        box-shadow: none;
        border-radius: 0;
        height: 36px;
        z-index: 200;
    }

    .search-close {
        display: none;
    }

    .search-filter {
        display: none;
    }


    .search-item {
      flex-wrap: wrap;
    }
  
    .search-name {
      width: 13rem;
    }
  
    .search-type, .search-date, .search-time {
      width: 8rem;
    }
  
    .search-time {
      justify-content: flex-start;
    }
  
    .search-item > div {
      margin-bottom: 24px;
    }
  }