.slick-slider {
    display: flex;
    align-items: center;

}

.slick-list {
    width: 100%;
    margin-left: -12px;
}


.slick-slide {
    padding: 0 12px;
    height: inherit !important;
}

.slick-slide>div {
    height: 100%;
}

.slick-track {
    margin-right: auto;
    margin-left: 0;
    display: flex !important;
}