.normal-text {
  color: var(--color-prim-navy);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.secondary-text {
  color: var(--color-sec-blue);
  font-size: 12px;
}

.underline-text{
  text-decoration: underline;
}

.italic-text{
  font-style: italic;
}

.pointer{
  cursor: pointer;
}

.font-12{
  font-size: 12px;
}

.font-14{
  font-size: 14px !important;
}

.font-16{
  font-size: 16px !important;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-500{
  font-weight: 500;
}

.font-weight-normal{
  font-weight: normal;
}

.word-break-text{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;          /* Chrome & Safari */
  white-space: -pre-wrap;                 /* Opera 4-6 */
  white-space: -o-pre-wrap;               /* Opera 7 */
  white-space: pre-wrap;                  /* CSS3 */
  word-wrap: break-word;                  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
