.folder_modal{
    max-width: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.folder_modal h3 {
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-top: 0;
}
.folder_modal_input{
    width: 100%;
}

.buttons_container{
    display: flex;
    width: inherit;
    margin-top: 1em;
    justify-content: flex-end;
}

.buttons_container button {
  width: 88px;
}

.cancel_button{
    margin-right: 0.5em;
}

.close_modal{
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
    width: inherit;
    justify-content: flex-end;
    cursor: pointer;
}

.close_modal:hover {
  opacity: 0.7;
}

.close_modal span {
  display: block;
}

.close_modal img {
  width: 25px;
  height: auto;
}

.x { 
  font-weight: 900;
  font-family: monospace;
}

@media screen and (max-width: 600px) {
  .folder_modal {
    max-width: 385px;
  }
}
