.item {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  height: 71px;
}

.item--selected {
  background-color: var(--color-sec-lightivory);
}

.textEllipse {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.name {
    width: 55%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    color: var(--color-prin-navy);
    font-size: 12px;
}


.info {
  flex: 1;
  display: flex;
  align-items: center;
}

.headers-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  border-top: 1px solid var(--color-secondary-border);
  border-bottom: 1px solid var(--color-secondary-border);
  padding: 28px 0;
}


.headers-content h4 {
  font-weight: 400;
  color: var(--color-prim-navy);
  font-size: 13px;
  width: 15%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin: 0;
}

.headers-content h4:first-child {
  width: 55%;
  justify-content: flex-start;
}



.headers-content h4 .sort-icon {
  margin-left: 8px;
  display: none;
  width: 13px;
}

.headers-content h4:hover .sort-icon,
.headers-content h4 .sort-icon.active {
  display: block;
}

.thumbnail {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
  max-height: 50px;
  width: 50px;
  height: 50px;
}

.thumbnail > img,
.thumbnail > video {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.name:hover {
  opacity: 0.6;
}

.edit {
  cursor: pointer;
}

.edit:hover {
  opacity: 0.6;
}

.options img:hover {
  opacity: 0.6;
}

.field_name {
  width: 15%;
  font-size: 12px;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: var(--color-prim-navy);
  display: flex;
  align-items: center;
  justify-content: center;
}


.select-icon {
  width: 25px;
  height: auto;
}

.info > div:last-child {
  margin-left: 2rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 810px) {

  .actions {
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .assets {
    display: none;
  }
  .date-created,
  h4.date-created {
    display: none;
  }

  .edit {
    display: none;
  }

  .item {
    justify-content: space-between;
  }
}

  .photo-name {
    width: 100%;
  }

