.asset-actions-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap:20px;
    width:10%;
  }
  
  .more ul {
    right: 0;
    bottom: 30px;
    top: inherit;
  }
  .folderDots {
    width: 16px !important;
  }
  .edit-icon{
    width: 15px !important;
  }


@media (max-width:480px){
  .edit-icon{
    display: none;
  }
}